<div [formGroup]="formGroup">
    <div class="formgrid" formGroupName="search">
        <div class="col-12">
            <div class="field-checkbox">
                <p-checkbox (onChange)="onIsSearchClicked($event)" [binary]="true"
                            [value]="true" formControlName="isSearch"
                            inputId="isSearch"></p-checkbox>
                <label class="cursor-pointer" for="isSearch">{{ label | translate }}</label>
            </div>
            <div *ngIf="formGroup.get('search.isSearch').value === true">
                <div class="formgroup-inline">
                    <div class="field-radiobutton">
                        <p-radioButton formControlName="description" inputId="stateCAR"
                                       value="stateCAR"></p-radioButton>
                        <label class="cursor-pointer" for="stateCAR">CAR Estadual</label>
                    </div>
                    <div class="field-radiobutton">
                        <p-radioButton formControlName="description" inputId="federalCAR"
                                       value="federalCAR"></p-radioButton>
                        <label class="cursor-pointer" for="federalCAR">CAR Federal</label>
                    </div>
                    <div class="field-radiobutton">
                        <p-radioButton formControlName="description" inputId="ownerCPF"
                                       value="ownerCPF"></p-radioButton>
                        <label class="cursor-pointer" for="ownerCPF">{{ 'Owner\'s CPF' | translate }}</label>
                    </div>
                </div>
                <div class="col-12">
                    <input [mask]="getSearchMask()" [showMaskTyped]="true" class="w-full"
                           formControlName="value" pInputText/>
                </div>
            </div>
        </div>
    </div>
</div>
