<h3 class="no-margin">{{optionField.label}}</h3>
<span>
    <p-dropdown
            [options]="options"
            [(ngModel)]="selectedOption"
            [autoDisplayFirst]="false"
            [name]="optionField.name"
            (onChange)="onChangeOptionField($event)"
            [showClear]="true"
            [disabled]="disable"
            styleClass="width-100"
            scrollHeight="180px">
    </p-dropdown>
</span>
<div *ngIf="optionSelectedByFilter && optionSelectedByFilter.label">
        <p-dropdown
                [placeholder]="optionSelectedByFilter.label"
                [options]="optionsFilterLocalizations"
                [(ngModel)]="optionSelectedByFilter.value"
                [autoDisplayFirst]="false"
                [name]="optionSelectedByFilter.type"
                optionLabel="name"
                [showClear]="true"
                [disabled]="false"
                styleClass="width-100"
                (onChange)="onchangeSelected($event)"
                filter="true"
                scrollHeight="180px">
        </p-dropdown>
</div>
