<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Novo Grupo" icon="pi pi-plus"
      class="p-button-success p-mr-2"></button>
      <button pButton pRipple label="Remover" class="p-button-danger"
      icon="pi pi-trash"
      ></button>
    </ng-template>
  </p-toolbar>
</div>

<p-treeTable #tt [value]='files' [columns]="cols" [rows]="5" [paginator]="true"
  sortMode="multiple" selectionMode="checkbox" [(selection)]="selectedGroups"
  (onNodeSelect)="groupSelect($event)"  (onNodeUnselect)="groupUnSelect($event)"
  [rowHover]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Gerenciar Grupos</h5>
      <div class="p-d-flex">
        <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
        <span class="p-ml-2">Selecionar Todos</span>
      </div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText size="50" placeholder="Filtro Global"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate='header' let-columns >
    
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-ai-center p-jc-between">
          <div [ttSortableColumn]="col.field" class="p-ai-center p-jc-between  p-p-2">
            {{col.header}}
            <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
          </div>
            <input pInputText type='text' (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:auto">
        </div>
      </th>
      <th></th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td *ngFor="let col of cols; let i = index">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode" *ngIf="rowData['type'] == 'layer_group' && i == 0"></p-treeTableCheckbox>
        {{rowData[col.field]}}
        <!-- {{rowData['key']||'key'}} -->
      </td>
      <td *ngIf="rowData['type'] == 'layer_group'">
        <button pButton pRipple class="p-button-rounded p-mr-2" icon="pi pi-trash"></button>
        <button pButton pRipple class="p-button-rounded p-mr-2" icon="pi pi-pencil"></button>

      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="cols.length">Nenhum dado encontrado</td>
    </tr>
  </ng-template>
</p-treeTable>
