<p-dialog (onHide)="onDialogHide()"
          [(visible)]="displayFilter"
          [header]="'Filter' | translate"
          [style]="isMobile ? {bottom: '0'} : {top: '60px', left: '410px', 'width': '550px'}"
          [breakpoints]="{'1024px' : '100%'}"
          [position]="isMobile ? 'bottom' : 'top-left'"
          autoZIndex="false"
          baseZIndex="1001">

    <div class="grid">
        <div class="col-12 form-padding">
            <app-theme
                #themeAreaComponent
                (onChangeThemeSelected)="onUpdateFilterTheme($event)"
                [disable]="filterParam.specificSearch.isChecked">
            </app-theme>
        </div>

        <div class="col-12 form-padding">
            <app-alert-type
                #alertTypeAreaComponent
                (onChangeAlertType)="onUpdateAlertType($event)"
                [disable]="filterParam.specificSearch.isChecked">
            </app-alert-type>
        </div>

        <div class="col-12 form-padding">
            <app-class
                #classAreaComponent
                (onChangeClassFilter)="onUpdateClassFilter($event)"
                [disable]="filterParam.specificSearch.isChecked">
            </app-class>
        </div>

        <div *ngIf="false" class="col-12 form-padding">
            <app-authorization
                #authorizationAreaComponent
                (onChangeAuthorization)="onUpdateAuthorization($event)"
                [disable]="authorizationDisable">
            </app-authorization>
        </div>
        <br/>
        <div class="col-12 form-padding">
            <app-specific-search
                #specificSearchAreaComponent
                (onChangeSpecificSearch)="onUpdateSpecificSearch($event)">
            </app-specific-search>
        </div>
    </div>

    <p-footer class="col-12 form-padding">
        <app-footer-filter
                (onClearFilterClicked)="onClearFilterClicked()"
                (onCloseClicked)="onCloseClicked()"
                (onFilterClicked)="onFilterClicked(true)">
        </app-footer-filter>
    </p-footer>
</p-dialog>
