<div *ngIf="checkAlertTypeValid()">
    <h3 class="form-margin">Tipo do alerta</h3>
    <p-radioButton name="ALL"
                    value="ALL"
                    label="Todos"
                    [(ngModel)]="alertType.radioValue"
                    inputId="preopt1"
                    [disabled]="disable">
    </p-radioButton>
    &nbsp;&nbsp;
    <p-radioButton name="OCCURRENCE-AREA"
                    value="OCCURRENCE-AREA"
                    label="Áreas/Ocorrências"
                    [(ngModel)]="alertType.radioValue"
                    inputId="preopt2"
                    [disabled]="disable">
    </p-radioButton>

    <div *ngIf="checkAnalyzesValid()" >
        <div *ngFor="let analyze of alertType.analyzes; trackBy: trackById">
            <h3 class="form-margin">{{analyze.label}}</h3>
            <div class="p-grid">
                <div [ngClass]="{ 'p-col-6': isCustomSelected(analyze), 'p-col-12 form-padding': !isCustomSelected(analyze) }">
                    <p-dropdown
                            [options]="analyze.options"
                            [(ngModel)]="analyze.valueOption"
                            [autoDisplayFirst]="false"
                            [name]="analyze.type"
                            optionLabel="label"
                            [showClear]="true"
                            [disabled]="false"
                            (onChange)="onChangeAnalyzeOption($event)"
                            filter="true"
                            styleClass="width-100"
                            scrollHeight="100px">
                    </p-dropdown>
                </div>
                <div *ngIf="isCustomSelected(analyze)"
                    [ngClass]="{
                                    'p-col-6': isCustomSelected(analyze),
                                    'p-col-12 form-padding': !isCustomSelected(analyze)
                                }">
                    <input *ngIf="isCustomSelected(analyze)"
                            type="text"
                            pInputText
                            [name]="'specificValueInput'"
                            [(ngModel)]="analyze.valueOptionBiggerThen"
                            class="width-100"
                            placeholder="Digite o valor"
                            (ngModelChange)="onChange()">
                </div>
            </div>
        </div>
    </div>
</div>
