<p-dialog (onHide)="onHide()"
          [(visible)]="displayAbout"
          [contentStyle]="{'width': '50vw','max-height':'75vh'}"
          [positionLeft]="600"
          [positionTop]="60"
          header="Sobre"
          resizable="false"
          autoZIndex="false"
          baseZIndex="1001">
    <div class="about-padding">
        <div class="p-col-12">
            <h2 class="text-center">SatAlertas: Sistema Integrado de Monitoramento de Degradação Ambiental</h2>
        </div>
        <div class="p-col-12 text-right">
            <p>Versão: 1.0.1</p>
            <p>Data: 05/Março/2021
            <p>
            <p>Copyright© 2021</p>
        </div>
        <div class="p-grid">
            <p>O <strong>SatAlertas</strong> é uma aplicação destinada ao monitoramento de degradação ambiental que foi
                desenvolvido sobre a plataforma TerraMA2 do INPE, com objetivo específico de monitorar, analisar e
                gerenciar alertas resultantes do cruzamento dos dados do PRODES, DETER e Queimadas do INPE com CAR e
                outras bases.</p>
            <p>Sistema produzido em parceria com:</p>
        </div>
        <br>
        <div class="p-grid text-center">
            <div class="p-col">
                <a href="https://mpmt.mp.br/" target="_blank">
                    <img height="60" src="assets/img/logos/mpmt-small.png" width="180">
                </a>
            </div>
            <div class="p-col">
                <a href="https://pjedaou.mpmt.mp.br/" target="_blank">
                    <img height="80" src="assets/img/logos/pjedaou-large.png" width="140">
                </a>
            </div>
            <div class="p-col">
                <a href="#" target="_blank"></a>
                <img height="60" src="assets/img/logos/caex.png" width="80">
            </div>
        </div>
        <br>
        <div class="p-grid text-center">
            <div class="p-col">
                <a href="http://www.inpe.br/" target="_blank">
                    <img height="100" src="assets/img/logos/inpe.png" width="130">
                </a>
            </div>
            <div class="p-col">
                <a href="http://www.dpi.inpe.br/DPI/" target="_blank">
                    <img height="80" src="assets/img/logos/dpi.png" width="100">
                </a>
            </div>
        </div>
        <br>
        <div class="p-grid text-center">
            <div class="p-col">
                <a href="http://www.mt.gov.br/" target="_blank">
                    <img height="60" src="assets/img/logos/mt.png" width="200">
                </a>
            </div>
            <div class="p-col">
                <a href="http://www.sema.mt.gov.br/" target="_blank">
                    <img height="100" src="assets/img/logos/sema.png" width="100">
                </a>
            </div>
        </div>

        <h2>Base tecnológica:</h2>

        <div class="p-grid text-center">
            <div class="p-col">
                <a href="http://www.terrama2.dpi.inpe.br" target="_blank">
                    <img height="120" src="assets/img/logos/terrama2-large.png" width="200">
                </a>
            </div>
        </div>

        <h2>Base de Dados Ambientais:</h2>

        <div class="p-grid text-center">
            <div class="p-col">
                <a href="http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/deter" target="_blank">
                    <img height="100" src="assets/img/logos/deter.png" width="120">
                </a>
            </div>
            <div class="p-col">
                <a href="http://www.obt.inpe.br/OBT/assuntos/programas/amazonia/prodes" target="_blank">
                    <img height="100" src="assets/img/logos/prodes.png" width="150">
                </a>
            </div>
            <div class="p-col">
                <a href="http://queimadas.dgi.inpe.br/queimadas/portal" target="_blank">
                    <img height="100" src="assets/img/logos/queimadas.png" width="120">
                </a>
            </div>
        </div>

        <h2>Apoio Financeiro:</h2>

        <div class="p-grid text-center">
            <div class="p-col">
                <a href="https://www.votorantimcimentos.com.br" target="_blank">
                    <img height="134" src="assets/img/logos/votorantim.png" width="376">
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="p-col-12 text-right">
            <p>Versão da TerraMA²: 4.1.1</p>
            <p>Versão da TerraLib: 5.4.5</p>
        </div>
        <br>
        <button (click)="closeAbout()" class="ui-button-raised ui-button-secondary width-100"
                label="Fechar"
                pButton
                type="button"></button>
    </div>
</p-dialog>
