<p-dialog
  [(visible)]="displayModal"
  [baseZIndex]="10000"
  [closable]="false"
  [draggable]="false"
  header="Edição de camadas avançado"
  [modal]="true"
  [resizable]="false"
  [style]="{ width: '70vw' }"
>
  <div class="p-fluid">
    <ng-container
      *ngFor="let colGroup of groupedFields"
      [ngSwitch]="colGroup.type"
    >
      <div *ngSwitchCase="'string'">
        <ng-container *ngFor="let col of colGroup['columns']">
          <div class="field col-12">
            <label [for]="col.nameCamel">{{ col.alias }}: </label>
            <input
              *ngIf="layer[col.nameCamel]"
              [(ngModel)]="layer[col.nameCamel]"
              [disabled]="col.disableEditing"
              [id]="col.nameCamel"
              pInputText
              required
              type="text"
            />
          </div>
        </ng-container>
      </div>
      <div *ngSwitchCase="'boolean'">
        <div class="formgroup-inline">
          <ng-container *ngFor="let col of colGroup['columns']">
            <div class="field-checkbox">
              <p-checkbox
                (onChange)="setBooleanField(col.nameCamel, $event.checked)"
                [ngModel]="layer[col.nameCamel]"
                [binary]="true"
                [name]="col.nameCamel"
                [disabled]="col.disableEditing"
              ></p-checkbox>
              <label for="col.nameCamel">{{ col.alias }}</label>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngSwitchCase="'ARRAY'">
        <ng-container *ngFor="let col of colGroup['columns']">
          <div class="card">
            <p-table
              *ngIf="layer['isPrimary'] || newData['isPrimary']"
              #dt
              (onRowSelect)="pushLayer($event.data)"
              (onRowUnselect)="removeLayer($event.data)"
              [globalFilterFields]="tableFields"
              [scrollable]="true"
              [selection]="layer['subLayers']"
              [value]="subLayers"
              dataKey="id"
              scrollHeight="200px"
              selectionMode="multiple"
              styleClass="p-datatable-sm"
            >
              <ng-template pTemplate="caption">
                Lista de Camadas do Grupo
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    pInputText
                    placeholder="Filtro Global"
                    type="text"
                  />
                </span>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <ng-container *ngFor="let field of tableFields">
                    <th [pSortableColumn]="field">
                      {{ field }}
                      <p-sortIcon [field]="field"></p-sortIcon>
                    </th>
                  </ng-container>
                </tr>
                <tr>
                  <ng-container *ngFor="let field of tableFields">
                    <th>
                      <input
                        (input)="
                          dt.filter($event.target.value, field, 'contains')
                        "
                        class="column-filter"
                        pInputText
                        placeholder="Filtrar"
                        type="text"
                      />
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template
                let-item
                let-rowIndex="rowIndex"
                pTemplate="body"
                *ngFor="let field of tableFields"
                >
                <tr [pSelectableRowIndex]="rowIndex" [pSelectableRow]="item">
                  <td *ngFor="let field of tableFields">{{ item[field] }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Nenhuma camada encontrada.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <p-footer>
    <p-button
      pRipple
      (click)="sendEdition()"
      icon="pi pi-check"
      label="Ok"
      styleClass="p-button-raised"
      [disabled]="!edited"
    ></p-button>

    <p-button
      pRipple
      (click)="cancelEdition()"
      icon="pi pi-times"
      label="Cancelar"
      styleClass="
          p-button-secondary
          p-button
          p-component
          p-button-text-only
          p-button-raised
        "
    ></p-button>
  </p-footer>
</p-dialog>
