node_modules
.idea
dist
.history/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
logs
.vscode/
.history/
src/environments/environment.prod.ts
src/environments/environment.ts
#ignorando um arquivo da máquina do kyle
src/assets/files.json
