.background-color-gray {
  background-color: #eee;
}

.container {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 90% !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  background: #fff !important;
  border-radius: 10px !important;
  padding: 1rem !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background-color: #ccc !important;
}

.chart {
  height: 300px;
  max-width: 100vw
}

.navbar-item {
  color: rgba(0,0,0,.9);
}

.card-disabled h5 {
  color: #9b9b9b
}

.card-disabled img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

:host ::ng-deep .img-fluid {
  max-width: 100%;
  height: auto;
}

section {
  page-break-inside : avoid
}

.word-wrap{
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

:host ::ng-deep .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

:host ::ng-deep .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

@media print {
  :host ::ng-deep .container * {
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
  }

  :host ::ng-deep section {
    page-break-inside: avoid;
  }

  :host ::ng-deep body .ui-card {
    border: 1px solid #eee !important;
  }

  @page {
    margin: 0.5cm !important;
  }
}