<p-dialog
        (onHide)="onLayerToolHide()"
        [(visible)]="displayLayerTools"
        [blockScroll]="true"
        [style]="isMobile ? {bottom: '0'} : {top: '60px', left: '410px'}"
        [breakpoints]="{'1024px' : '100%'}"
        [position]="isMobile ? 'bottom' : 'top-left'"
        autoZIndex="false"
        baseZIndex="1001"
        header="{{layer?.shortName }}">

    <p-accordion [multiple]="true" [style]="{'min-width': '300px'}">
        <p-accordionTab [selected]="toolSelected === 'description'"
                        header="{{'Description' | translate}}">
            <div style="max-width: 500px">
                {{layer?.description }}
            </div>
        </p-accordionTab>

        <p-accordionTab *ngIf="loggedUser && loggedUser.administrator"
                        [selected]="toolSelected === 'export'"
                        header="{{'Exportation' | translate}}">
            <p-listbox [(ngModel)]="selectedFormats"
                       [options]="formats"
                       checkbox="checkbox"
                       multiple="multiple">
            </p-listbox>
            <br>
            <div class="grid align-items-center justify-content-end grid-nogutter">
                <div *ngIf="isExportLoading">
                    <p-progressSpinner [style]="{width: '25px', height: '25px'}"
                                       animationDuration="1s"
                                       strokeWidth="6"></p-progressSpinner>
                </div>
                &nbsp;
                <p-button (click)="onExportClick()"
                          [disabled]="isExportLoading"
                          label="{{'Export' | translate}}"
                          pRipple
                          styleClass="p-button-raised"
                ></p-button>
            </div>
        </p-accordionTab>

        <p-accordionTab [selected]="toolSelected === 'opacity'"
                        header="{{'Opacity' | translate}}">
            <p-slider (onChange)="onOpacityChange($event)" [(ngModel)]="opacity" [animate]="true"></p-slider>
            <br/>
            <strong>{{opacity }} %</strong>
        </p-accordionTab>

        <!--            <p-accordionTab [selected]="toolSelected === 'slider'"-->
        <!--                            header="Filtro por data">-->
        <!--                <p-slider [animate]="true" [(ngModel)]="opacity" (onChange)="onSliderChange($event)"></p-slider>-->
        <!--            </p-accordionTab>-->

        <!--            <p-accordionTab [selected]="toolSelected === 'calendar'"-->
        <!--                            header="Filtro por intervalo de data">-->
        <!--            </p-accordionTab>-->
    </p-accordion>

</p-dialog>
