<p-dialog
        header="Layers"
        [positionLeft]="375"
        [positionTop]="60"
        resizable="false"
        [(visible)]="displayLayers"
        [contentStyle]="{'width': '400px','max-height':'40vh'}"
    >

    <!-- <app-sidebar-item class="sidebar-item"
                      *ngFor="let selectedLayer of selectedLayers"
                      [sidebarItem]="selectedLayer"
                      [childrenItems]="selectedLayer.children">
    </app-sidebar-item> -->

    <app-sidebar-item-child class="sidebar-item-body p-dir-col p-align-stretch"
                            pDraggable="sbItem"
                            pDroppable="sbItem"
                            [isParentOpened]="true"
                            *ngFor="let selectedLayer of selectedLayers"
                            [child]="selectedLayer"
                            (onDragStart)="dragStart($event,selectedLayer)"
                            (onDragEnd)="dragEnd($event)"
                            (onDrop)="drop($event)"
                            [displayControls]="displayControls"
                            >
    </app-sidebar-item-child>

    <!-- <div class="p-grid p-nogutter">
        <p-accordion [multiple]="true" class="width-100">
          <p-accordionTab
              *ngFor="let selectedLayer of selectedLayers;trackBy: trackByFunction"
              selected="true"
              header="{{ selectedLayer.legend.title }}"
              class="width-100">
            <img src="{{ selectedLayer.legend.url }}" />
          </p-accordionTab>
      </p-accordion>
    </div> -->

</p-dialog>
