<div *ngIf="isLoading" class="loading-dashboard">
    <p-progressSpinner> </p-progressSpinner>
</div>
<p-scrollPanel *ngIf="!isLoading" [style]="{width: '100%', height: 'calc(100vh - 50px)'}">
    <div id="charts-panel" class="p-grid box">
        <div class="box-title-panel p-col-12">
            <div class="p-md-2">
                <span id="title-chart"></span>
            </div>
        </div>
    </div>

    <app-card-area
            [alertsDisplayed]="alertsDisplayed"
            (onNubermImmobileClick)="onNubermImmobileClick($event)"
            (onAreaClick)="onAreaClick($event)">
    </app-card-area>

    <app-graphics-area [alertGraphics]="alertGraphics" ></app-graphics-area>
</p-scrollPanel>
