<div class="sidebar-layer-group-body p-align-center"
    [ngClass]="{ 'active': isLayerGroupOpened }">

    <i [class]="sidebarLayerGroup.icon"></i>

    <div class="sidebar-layer-group-label"
        (click)="onLayerGroupClicked()">

            <i class="fas sidebar-layer-group-arrow"
                [ngClass]="{'fa-chevron-down': isLayerGroupOpened, 'fa-chevron-right': !isLayerGroupOpened}">
            </i>
            <a>{{ sidebarLayerGroup.label }}</a>

    </div>

    <div class="sidebar-layer-group-switch">

        <p-inputSwitch (onChange)="onSwitchChanged($event)">
        </p-inputSwitch>

    </div>
</div>
<div class="collapse"
    [ngClass]="{show: isLayerGroupOpened, hide: !isLayerGroupOpened}">

    <app-sidebar-layer class="sidebar-layer-body p-dir-col p-align-stretch"
                            *ngFor="let layer of sidebarLayers; trackBy: trackById"
                            [layer]="layer"
                            [displayChild]="true"
                            [parentSwitchChecked]="switchChecked"
                            [isLayerGroupOpened]="isLayerGroupOpened"
    >
    </app-sidebar-layer>

</div>
