<div class="p-col-12 header p-nogutter">
    <i (click)="showHideSidebar()" class="fas fa-bars header-icon sidebar-icon"></i>

    &nbsp;&nbsp;

    <a href="{{headerLogoLink}}" target="_blank" class="header-logo-height">
        <img src="{{headerLogo}}" class="header-logo-height" />
    </a>
    <span class="app-title">&nbsp;&nbsp;{{mainApplication}}&nbsp;&nbsp;</span>
    <span class="header-title">|&nbsp;&nbsp;{{headerTitle}}</span>


    <div class="ui-g-12 ui-md-4 header-filter" header-filter-date>
        <p-calendar #dataFilter
                [inputStyle]="{height: '26.5px'}"
                [(ngModel)]="dateInput"
                [maxDate]="maxDate"
                [showIcon]="true"
                [readonlyInput]="true"
                yearRange="2000:2030"
                [yearNavigator]="false"
                [monthNavigator]="false"
                [numberOfMonths]="2"
                [selectionMode]="dateField.selectionMode"
                [showTime]="dateField.showTime"
                [dateFormat]="dateField.dateFormat"
                [name]="dateField.name"
                [showOnFocus]="true"
                [hideOnDateTimeSelect]="true"
                [locale]="localizationField.locale"
                (onClose)="onFilterClose()" >
            <p-footer class="date-footer">
                <button pButton
                        type="button"
                        [label]="localizationField.locale.today"
                        class="date-button date-button-today"
                        (click)="onTodayClick()">
                </button>
                <button pButton
                        [style]="{float:'right'}"
                        type="button"
                        label="Filtrar"
                        class="date-button button-right"
                        [disabled]="(!dateInput[1] && dateInput[1] === null)"
                        (click)="onFilterClick()">
                </button>
            </p-footer>
        </p-calendar>
    </div>

    <div class="header-right">

        <!-- <i class="fas fa-info-circle header-icon" (click)="openAbout()"></i>

        &nbsp;&nbsp; -->

    <!-- <p-selectButton [options]="languages" [(ngModel)]="selectedLanguage">
        <ng-template let-item>
            <div style="padding: .5em .25em">
                <img style="vertical-align: middle; margin-right: .5em" src="assets/img/flags/{{item.flag}}.png" />
            </div>
        </ng-template>
    </p-selectButton> -->

        &nbsp;&nbsp;

        <ng-container *ngIf="hasLogin && !isAuthenticated; then login; else logout"></ng-container>

        <ng-template #login>
            <button pButton
                    type="button"
                    icon="fa fa-sign-in-alt"
                    label="Login"
                    class="ui-button-raised ui-button-secondary"
                    (click)="onLoginClick()">
            </button>
        </ng-template>

        <ng-template #logout>
            <div>{{ loggedUserName }}</div>
            &nbsp;&nbsp;
            <button pButton
                    type="button"
                    icon="fa fa-sign-in-alt"
                    label="Logout"
                    class="ui-button-raised ui-button-secondary"
                    (click)="onLogoutClick()">
            </button>
        </ng-template>

    </div>

    <p-dialog
            [(visible)]="displayLogin"
            [draggable]="false"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [baseZIndex]="1002">

        <app-auth [displayLogin]="displayLogin"
                (closeLoginClicked)="onCloseLoginClick($event)">
        </app-auth>

    </p-dialog>

    <p-dialog
            [(visible)]="displayAbout"
            [draggable]="false"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true">

        <app-about [displayAbout]="displayAbout"
                (closeAboutClicked)="closeAbout($event)">
        </app-about>

    </p-dialog>
</div>
