<div class="p-col-12 header p-nogutter">
    <i (click)="showHideSidebar()" class="fas fa-bars header-icon sidebar-icon"></i>

    &nbsp;&nbsp;

    <a href="{{headerLogoLink}}" target="_blank" class="header-logo-height">
        <img src="{{headerLogo}}" class="header-logo-height" />
    </a>
    <span class="app-title">&nbsp;&nbsp;{{mainApplication}}&nbsp;&nbsp;</span>
    <span class="header-title">|&nbsp;&nbsp;{{headerTitle}}</span>

    <button #filter
            pButton
            type="button"
            icon="fas fa-filter"
            label="Filtrar"
            class="ui-button-raised ui-button-secondary button-filter"
            (click)="showFilter()">
    </button>

    <div class="ui-g-12 ui-md-4 header-filter">
        <p-calendar #dataFilter
                [(ngModel)]="dateInput"
                [maxDate]="maxDate"
                [showIcon]="false"
                [readonlyInput]="false"
                yearRange="2000:2030"
                [yearNavigator]="false"
                [monthNavigator]="false"
                [numberOfMonths]="2"
                [selectionMode]="dateField.selectionMode"
                [showTime]="dateField.showTime"
                [dateFormat]="dateField.dateFormat"
                [name]="dateField.name"
                [showOnFocus]="true"
                [hideOnDateTimeSelect]="true"
                [locale]="optionField.locale"
                (onClose)="onFilterClose()" >
            <p-footer class="date-footer">
                <button pButton
                        type="button"
                        [label]="optionField.locale.today"
                        class="date-button date-button-today"
                        (click)="onTodayClick()">
                </button>
                <button pButton
                        [style]="{float:'right'}"
                        type="button"
                        label="Filtrar"
                        class="date-button button-right"
                        [disabled]="(dateInput && !dateInput[1] && dateInput[1] === null)"
                        (click)="onFilterClick()">
                </button>
            </p-footer>
        </p-calendar>
    </div>

    <div class="header-right">

        &nbsp;&nbsp;

        <ng-container *ngIf="hasLogin && !isAuthenticated; then login; else logout"></ng-container>

        <ng-template #login>
            <button pButton
                    type="button"
                    icon="fa fa-sign-in-alt"
                    label="Login"
                    class="ui-button-raised ui-button-secondary"
                    (click)="onLoginClick()">
            </button>
        </ng-template>

        <ng-template #logout>
            <div>{{ loggedUserName }}</div>
            &nbsp;&nbsp;
            <button pButton
                    type="button"
                    icon="fa fa-sign-in-alt"
                    label="Logout"
                    class="ui-button-raised ui-button-secondary"
                    (click)="onLogoutClick()">
            </button>
        </ng-template>

    </div>

    <p-dialog
            [(visible)]="displayLogin"
            [draggable]="false"
            [resizable]="false"
            [showHeader]="false"
            [modal]="true"
            [baseZIndex]="1002">

        <app-auth [displayLogin]="displayLogin"
                (closeLoginClicked)="onCloseLoginClick($event)">
        </app-auth>

    </p-dialog>

</div>
