.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    height: 50px;
    font-size: 1rem;
    color: #eee;
    font-weight: bold;
}

.header-filter {
    margin: 10% 0 10% 0;
    float: right;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    float: right;
}

.header-icon {
    font-size: 1rem;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
}

.sidebar-icon {
    font-size: 1.5rem;
}

.header-icon:hover {
    color: #ccc;
}

.date-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.date-button {
    display: inline-flex;
    margin: 10px 0;
}

.date-button-today {
    float: left;
}

.button-right {
    float: right;
}

.button-filter {
    margin: 15% 0 15% 2%;
}

:host ::ng-deep .hide-button {
    display: none;
}

.flag-container {
    display: flex;
}

.flag {
    background: url('src/assets/img/flags_responsive.png') no-repeat;
    background-size: 100%;
    vertical-align: middle;
    width: 30px;
    margin-right: 5px;
}

.flag-br {
    background-position: 0 11.983471%;
}

.flag-us {
    background-position: 0 93.38843%;
}
