<p-dialog
        header="Layers"
        [positionLeft]="375"
        [positionTop]="60"
        resizable="false"
        [(visible)]="displayVisibleLayers"
        [contentStyle]="{'width': '400px','max-height':'40vh'}"
    >

    <app-sidebar-item-child class="sidebar-item-body p-dir-col p-align-stretch"
                            pDraggable="sbItem"
                            pDroppable="sbItem"
                            [isParentOpened]="true"
                            *ngFor="let selectedLayer of selectedLayers"
                            [child]="selectedLayer"
                            (onDragStart)="dragStart($event,selectedLayer)"
                            (onDragEnd)="dragEnd($event)"
                            (onDrop)="drop($event)"
                            [displayControls]="displayControls"
                            >
    </app-sidebar-item-child>

</p-dialog>
