<p-dialog
        [(visible)]="displayVisibleLayers"
        position="top-left"
        [style]="{top: '60px', left: '410px' }"
        header="Layers visíveis"
        resizable="false"
        autoZIndex="false"
        baseZIndex="1001">

    <div (onDragEnd)="dragEnd($event)"
         (onDragStart)="dragStart($event, selectedLayer)"
         (onDrop)="drop($event)"
         *ngFor="let selectedLayer of selectedLayers.reverse(); trackBy: trackById"
         class="visible-layers-item"
         pDraggable="dd"
         pDroppable="dd">
        {{ selectedLayer.label }}
        <i class="pi pi-bars"></i>
    </div>

</p-dialog>
