.visible-layers-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 15px;
    cursor: grabbing;
    background-color: #fefefe;
    transition: background-color 500ms ease-in-out;
    font-weight: bold;
    color: #5f5f5f;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.visible-layers-item:hover {
    background-color: #eee;
    color: #777;
}

.visible-layers-item > i {
    margin-left: 30px;
}
