<div *ngIf="checkValid()">
    <h3 class="form-margin">{{"Class" | translate}}</h3>
    <div class="formgroup-inline">
        <div class="field-checkbox">
            <p-radioButton [(ngModel)]="filterClass.radioValue"
                           [disabled]="disable"
                           (click)="onAllClicked()"
                           inputId="preopt1"
                           name="CLASS_ALL"
                           value="ALL">
            </p-radioButton>
            <label>{{'All' | translate}}</label>
        </div>
        <div class="field-checkbox">
            <p-radioButton [(ngModel)]="filterClass.radioValue"
                           [disabled]="disable"
                           inputId="preopt2"
                           name="SELECTION"
                           (onClick)="onSelectedClicked()"
                           value="SELECTION">
            </p-radioButton>
            <label>{{'Selected' | translate}}</label>
        </div>
    </div>
    <div *ngIf="checkAnalyzesValid()">
        <div *ngFor="let analyze of filterClass.analyzes; trackBy: trackById">
            <div class="grid">
                <div [ngClass]="{'col-6': false, 'col-12 form-padding': true }">
                    <h3 class="form-margin">{{ analyze.label | translate }}</h3>
                    <p-dropdown
                            (onChange)="onChange($event)"
                            [(ngModel)]="analyze.valueOption"
                            [autoDisplayFirst]="true"
                            [disabled]="false"
                            [name]="analyze.type+'class'"
                            [options]="analyze.options"
                            [showClear]="true"
                            filter="true"
                            optionLabel="name"
                            placeholder="{{ 'All' | translate}}"
                            styleClass="w-full">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <!--    <div *ngIf="checkAnalyzesValid()" >-->
    <!--        <div *ngFor="let analyze of filterClass.analyzes; trackBy: trackById">-->
    <!--            <h3 class="form-margin">{{analyze.label}}</h3>-->
    <!--            <div class="grid">-->
    <!--                <div class="col-12 form-padding">-->
    <!--                    <p-dropdown-->
    <!--                            [options]="analyze.options"-->
    <!--                            [(ngModel)]="analyze.valueOption"-->
    <!--                            [autoDisplayFirst]="false"-->
    <!--                            [name]="analyze.type"-->
    <!--                            optionLabel="name"-->
    <!--                            [showClear]="true"-->
    <!--                            [disabled]="false"-->
    <!--                            (onChange)="onChange($event)"-->
    <!--                            filter="true"-->
    <!--                            styleClass="w-full"-->
    <!--                            scrollHeight="100px">-->
    <!--                    </p-dropdown>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
