<ng-container *ngIf="!chartDatas; then chart; else charts"></ng-container>

<ng-template #chart>
    <div class="grid">
        <div class="col-12 md:col-12">
            <app-report-chart-card [data]="data" [options]="options" [type]="type"></app-report-chart-card>
        </div>
    </div>
</ng-template>

<ng-template #charts>
    <div class="grid">
        <div *ngFor="let chartData of chartDatas; trackBy: trackById"
             class="col-4 md:col-4">
            <app-report-chart-card [data]="chartData" [options]="options" [type]="type"></app-report-chart-card>
        </div>
    </div>
</ng-template>
