::ng-deep .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
    height: unset;
}

.ui-listbox,
.ui-listbox > * {
    border: 0;
}
