<div class="p-grid p-justify-between">
    <div>
        <p-button (click)="onFilterClicked.emit($event)"
                  pRipple
                  label="{{ 'primeng.apply' | translate}}"
                  styleClass="p-button-raised"
        >
        </p-button>

        <p-button (click)="onClearFilterClicked.emit($event)"
                  label="{{ 'Remove Filters' | translate}}"
                  pRipple
                  styleClass="p-button-secondary p-button-raised"
        >
        </p-button>
    </div>
    <div>
        <p-button (click)="onCloseClicked.emit($event)"
                  pRipple
                  label="{{ 'Close' | translate}}"
                  styleClass="p-button-secondary p-button-raised"
        >
        </p-button>
    </div>
</div>
