<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button icon="fas fa-arrow-left"
                  label="Voltar"
                  (click)="back()"
                  styleClass="p-button-raised">
        </p-button>
    </div>
    <div *ngIf="isLoading" class="loading-report">
        <p-progressSpinner [style]="{width: '30px', height: '30px'}" animationDuration="1s"
                           strokeWidth="6"></p-progressSpinner>
    </div>
    <div class="p-toolbar-group-right">
        <button (click)="onViewReportClicked('deter')"
                pTooltip="{{'viewDeterReport' | translate}}"
                pButton
                class="btn-icon p-button-raised view-report-icon icon-margin"
                tooltipPosition="top">
            <img src="assets/img/ico/deter32x32.png"/>
        </button>
        <button (click)="onViewReportClicked('prodes')"
                pTooltip="{{'viewProdesReport' | translate}}"
                pButton
                class="btn-icon p-button-raised view-report-icon icon-margin"
                tooltipPosition="top">
            <img src="assets/img/ico/prodes32x32.png"/>
        </button>
        <button (click)="onViewReportClicked('queimada')"
                pTooltip="{{'viewBurnedReport' | translate}}"
                class="btn-icon p-button-raised view-report-icon icon-margin"
                pButton
                tooltipPosition="top">
            <img src="assets/img/ico/queima.ico"/>
        </button>
    </div>
</p-toolbar>

<p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 100px)'}">
    <div class="background-color-gray">
        <br>
        <div class="container">
            <app-property-data [property]="property"></app-property-data>
            <hr>

            <app-report-section [cards]="visions"></app-report-section>
            <app-report-legend [legends]="legends"></app-report-legend>

            <br>
            <app-report-section [cards]="detailedVisions"
                                [title]="titleDetailedVisions"
                                [subtitle]="formattedFilterDate"></app-report-section>
            <br>
            <app-report-section [cards]="deforestations"
                                [title]="titleDeforestation"></app-report-section>
            <br>
            <app-report-section [cards]="deterHistory"
                                [title]="titleDeter"></app-report-section>
            <br>
            <app-report-chart [data]="historyDeterChartData"
                              [options]="historyDeterChartOptions"
                              type="bar"></app-report-chart>
            <br>
            <app-report-section [cards]="prodesHistory"
                                [title]="titleProdes"></app-report-section>
            <br>
            <app-report-chart [data]="historyProdesChartData"
                              [options]="historyProdesChartOptions"
                              type="bar"></app-report-chart>
            <br>
            <app-report-section [cards]="fireSpotHistory"
                                [title]="titleFireSpot"></app-report-section>
            <br>
            <app-report-chart [data]="burningFireSpotChartData"
                              [options]="historyFireSpotChartOptions"
                              type="bar"></app-report-chart>
            <br>
            <app-report-section [cards]="burnedAreaHistory"
                                [title]="titleBurnedArea"></app-report-section>
            <br>
            <app-report-chart [data]="burnedAreasChartData"
                              [options]="historyBurnedChartOptions"
                              type="bar"></app-report-chart>
            <app-report-chart [chartDatas]="burnedAreasPerPropertyChartDatas"
                              [options]="historyBurnedChartOptions"
                              type="pie"></app-report-chart>
            <br/>

            <app-report-ndvi
                [chartImages]="chartImages"
                [formattedFilterDate]="formattedFilterDate"></app-report-ndvi>
        </div>
    </div>
    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="fas fa-arrow-circle-up"></p-scrollTop>
</p-scrollPanel>
