<p-dialog
        (onHide)="onClose()"
        [(visible)]="displayModal"
        [baseZIndex]="10000"
        [closable]="false"
        [draggable]="false"
        [header]="header"
        [modal]="true"
        [resizable]="false"
        [style]="modalStyle">
    <form>
        <p-messages [(value)]="msgs"></p-messages>
        <div *ngFor="let line of lines; let j = index"
             class="p-fluid container-modal">
            {{line.label}}
            <div *ngFor="let input of line.inputs; trackBy: trackById; let i = index"
                 class="p-field">
                <ng-template [ngIf]="input.type === 'text'">
                    <label [for]="'input'+i" [ngClass]="input.inputClass">{{input.label}}</label>
                    <input (change)="onChange('input'+i, i, j)"
                           *ngIf="(input.type === 'text')"
                           [(ngModel)]="data[input.field]"
                           [id]="'input'+i"
                           [name]="input.field"
                           [ngClass]="input.inputClass"
                           [pKeyFilter]="ccRegex"
                           [pValidateOnly]="true"
                           autofocus
                           pInputText
                           required
                           type="text"/>
                </ng-template>
                <ng-template [ngIf]="input.type === 'boolean'">
                    <div class="p-field-checkbox">
                        <p-checkbox
                                (onChange)="onChange('input'+i, i, j, true, $event.checked)"
                                [(ngModel)]="data[input.field]"
                                [id]="'input'+i"
                                [name]="input.field"
                                [pKeyFilter]="ccRegex"
                                [pValidateOnly]="true"
                                binary='true'
                        ></p-checkbox>
                        <label [for]="input.field">{{input.label}}</label>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button (click)="onSave(validateFields())"
                  styleClass="p-button-raised"

                  icon="pi pi-check"
                  label="Salvar"
                  type="submit">
        </p-button>

        <p-button
                (click)="onClose()"
                styleClass="p-button-secondary p-button p-component p-button-text-only p-button-raised"

                icon="pi pi-times"
                label="Cancelar"
                type="button">
        </p-button>
    </p-footer>
</p-dialog>
