<div class="grid">
    <div class="col-12">
        <div class="field-checkbox">
            <p-checkbox
                    (onChange)="onChange($event)"
                    [(ngModel)]="specificSearchFilter.isChecked"
                    binary="true"
                    inputId="isChecked"
                    name="isChecked">
            </p-checkbox>
            <label>{{ 'Specific search' | translate}}</label>
        </div>
    </div>
    <div *ngIf="specificSearchFilter.isChecked" class="col-12">
        <div class="formgroup-inline">
            <div class="field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.carCPF"
                        inputId="CAR"
                        name="CAR"
                        value="CAR">
                </p-radioButton>
                <label>{{ 'State CAR' | translate}}</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.carCPF"
                        inputId="CAR_FEDERAL"
                        name="CAR"
                        value="CAR_FEDERAL">
                </p-radioButton>
                <label>{{ 'CAR Federal' | translate}}</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.carCPF"
                        inputId="CPF"
                        name="CPF"
                        value="CPF">
                </p-radioButton>
                <label>{{ 'Owner\'s CPF' | translate}}</label>
            </div>
        </div>

        <div class="field">
            <input (ngModelChange)="onChangeInput($event)"
                   [(ngModel)]="specificSearchFilter.inputValue"
                   [maxlength]="maxlength"
                   [name]="'specificValueInput'"
                   class="w-full"
                   id="inputValue"
                   pInputText
                   placeholder="{{'Type the value' | translate}}"
                   type="text">
        </div>
    </div>
</div>
