.sidebar-item-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    transition: background-color 500ms ease-in-out;
}

.sidebar-item-body:hover {
    background-color: #eee;
}

.sidebar-item-body-active {
    background-color: #591111;
}
.sidebar-item-body-active .sidebar-item-label a, .sidebar-item-body-active i{
    color: #fff;
}

.sidebar-item-body a,
.sidebar-item-body p-dropdown .p-dropdown-label {
    margin-left: 5px;
    color: #5f5f5f;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-item-body p-dropdown {
    margin-left: 5px;
}

.sidebar-item-body p-dropdown .p-dropdown-label {
    padding: 3px 5px;
    font-size: 20px;
}


.sidebar-separator {
    background-color: #ccc;
}
