<div [ngClass]="
            {
                'sidebar-separator': sidebarItem.separator,
                'sidebar-item-body': !sidebarItem.separator
            }"
     [routerLinkActiveOptions]="{exact: true}"
     [routerLinkActive]="['active']"
     [routerLink]="sidebarItem.link"
     class="align-items-center">

    <i *ngIf="!sidebarItem.separator"
       [class]="sidebarItem.icon">
    </i>

    <div *ngIf="!sidebarItem.separator"
         class="sidebar-item-label">

        <!-- <a *ngIf="!sidebarItem.dataUrl"> -->
        <a>
            {{sidebarItem.label | translate }}
        </a>

        <!-- <p-dropdown *ngIf="sidebarItem.dataUrl"
                    [(ngModel)]="selectedDropdownItem"
                    [options]="dropdownData"
                    [placeholder]="sidebarItem.label"
                    [style]="{'width': '250px'}">
        </p-dropdown> -->

    </div>
</div>
