<div class="sidebar-item-body p-align-center"
    [ngClass]="{'active': isParentOpened && !sidebarItem.link}">
    <div class="sidebar-item-label" (click)="onParentClicked()">

        <ng-container *ngIf="sidebarItem.link; then sidebarItemLink; else sidebarItemDefault"></ng-container>

        <ng-template #sidebarItemLink>
            <a class="sidebar-item-link"
              routerLink="{{ sidebarItem.link }}">
              {{ sidebarItem.label }}
            </a>
        </ng-template>

        <ng-template #sidebarItemDefault>
            <i class="fas sidebar-item-arrow"
              [ngClass]="{'fa-chevron-down': isParentOpened, 'fa-chevron-right': !isParentOpened}">
            </i>
            <a>{{ sidebarItem.label }}</a>
        </ng-template>

    </div>

    <div class="sidebar-item-switch">

        <p-inputSwitch *ngIf="!sidebarItem.link"
                        (onChange)="onParentSwitchChanged($event)">
        </p-inputSwitch>

    </div>
</div>
<div class="collapse"
    [ngClass]="{show: isParentOpened, hide: !isParentOpened}">

    <app-sidebar-item-child class="sidebar-item-body p-dir-col p-align-stretch"
        *ngFor="let child of childrenItems"
        [child]="child"
        [parentSwitchChecked]="parentSwitchChecked"
        [isParentOpened]="isParentOpened"
        >
    </app-sidebar-item-child>

</div>
