.collapse.show {
    max-height: 100%;
    visibility: visible;
}

.collapse.hide {
    max-height: 0;
    visibility: hidden;
}

.sidebar-item-label {
    flex-grow: 1;
}

.sidebar-item-switch {
    flex-grow: 0;
}

.sidebar-item-link {
    display: block;
}
