<p-dialog
        (onHide)="onSearchHide()"
        [(visible)]="displaySearch"
        [style]="isMobile ? {bottom: '0' } : {top: '60px', left: '410px' }"
        [breakpoints]="{'1024px' : '100%'}"
        [position]="isMobile ? 'bottom' : 'top-left'"
        autoZIndex="false"
        baseZIndex="1001"
        header="{{'Search' | translate}}">

    <h3>{{ 'Coordinates' | translate }}</h3>
    <div class="formgroup-inline">
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesDegreesLatitude">
            <label>&nbsp;º</label>
        </div>
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesMinutesLatitude">
            <label>&nbsp;'</label>
        </div>
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesSecondsLatitude">
            <label>&nbsp;''</label>
        </div>
    </div>
    <div class="formgroup-inline">
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesDegreesLongitude">
            <label>&nbsp;º</label>
        </div>
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesMinutesLongitude">
            <label>&nbsp;'</label>
        </div>
        <div class="field">
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="coordinatesSecondsLongitude">
            <label>&nbsp;''</label>
        </div>
    </div>
    <p-button styleClass="p-button-sm" pRipple type="button" label="{{ 'Go to position' | translate }}" (click)="onCoordinateClicked()" class="p-button-raised"></p-button>

    <hr>

    <h3>{{ 'Decimal degrees' | translate }}</h3>
    <div class="formgroup-inline">
        <div class="field">
            <label>{{ 'Latitude' | translate }}</label>
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="decimalDegreesLatitude">
        </div>
        <div class="field">
            <label>{{ 'Longitude' | translate }}</label>
            <input class="p-inputtext-sm" type="text" pInputText [(ngModel)]="decimalDegreesLongitude">
        </div>
        <p-button styleClass="p-button-sm" pRipple type="button" label="{{ 'Go to position' | translate }}"
                  (click)="onDecimalDegreesClicked()" class="p-button-raised"></p-button>
    </div>

    <hr>

    <h3>{{ 'UTM Coordinates' | translate }}</h3>
    <div class="formgroup-inline">
        <div class="field">
            <label>{{ 'East' | translate }}</label>
            <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="uTMCoordinatesEast">
        </div>
        <div class="field">
            <label>{{ 'North' | translate }}</label>
            <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="uTMCoordinatesNorth">
        </div>
        <div class="field">
            <label>{{ 'Zone' | translate }}</label>
            <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="uTMCoordinatesZone">
        </div>
        <p-button styleClass="p-button-sm" pRipple type="button" label="{{ 'Go to position' | translate }}" (click)="onUTMCoordinateClicked()"
                  class="p-button-raised"></p-button>
    </div>
</p-dialog>
