<div
  [ngClass]="{
    'sidebar-layer-alert': layer.isAlert === true,
    'sidebar-layer-margin': layer.isSublayer === true,
    'sidebar-layer-disabled': layer.isDisabled === true
  }"
  class="sidebar-layer-content"
>
  <div *ngIf="layer.isPrimary" (click)="toggleLayers()">
    <i
      [ngClass]="{
        'fa-chevron-down': showSublayers,
        'fa-chevron-right': !showSublayers
      }"
      class="fas sidebar-layer-group-arrow"
    >
    </i>
  </div>
  <div (click)="onChildClicked()" class="sidebar-layer-label">
    <a> {{ layer.shortName }} </a>
  </div>
  <div class="sidebar-layer-switch">
    <p-radioButton
      (onClick)="onChildRadioClicked()"
      *ngIf="layer.isPrimary && displayControls"
      [(ngModel)]="showMarkerRadio"
      [value]="layer.name"
      name="primary"
    >
    </p-radioButton>

    <p-inputSwitch
      (onChange)="onChildSwitchChanged($event)"
      *ngIf="displayControls"
      [(ngModel)]="isSelected"
      [disabled]="layer.isDisabled"
      [style]="{ 'margin-left': '8px' }"
    >
    </p-inputSwitch>
  </div>
</div>
<div
  *ngIf="layer.tools && displayControls"
  [ngClass]="{
    show: isToolsOpened && isLayerGroupOpened,
    hide: !isToolsOpened || !isLayerGroupOpened,
    'sidebar-layer-margin': layer.isSublayer === true
  }"
  class="sidebar-layer-tools"
>
  <div *ngFor="let tool of layer.tools">
    <i
      (click)="onToolClicked(tool.name)"
      *ngIf="!disableTool[tool.name]"
      class="{{ tool.icon }}"
      pTooltip="{{ tool.title }}"
      tooltipPosition="top"
    >
    </i>
  </div>
</div>
<div
  *ngIf="isLayerGroupOpened"
  [ngClass]="{ show: showSublayers, hide: !showSublayers }"
  class="collapse"
>
  <app-sidebar-layer
    *ngFor="let layer of layer.subLayers; trackBy: trackById"
    [layer]="layer"
    [isLayerGroupOpened]="isLayerGroupOpened"
    [isSubLayer]="true"
    class="sidebar-layer-body flex-column p-align-stretch"
  >
  </app-sidebar-layer>
</div>
