<div *ngIf="displayChild"
     [ngClass]="{
                    'sidebar-layer-alert': layer.isAlert === true,
                    'sidebar-layer-margin': layer.isChild === true,
                    'sidebar-layer-disabled': layer.isDisabled === true
                }"
     class="sidebar-layer-content">
    <div (click)="onChildClicked()"
         class="sidebar-layer-label">

        <a> {{layer.shortLabel }} </a>

    </div>

    <div class="sidebar-layer-switch">

        <p-radioButton (onClick)="onChildRadioClicked()"
                       *ngIf="layer.showMarker && displayControls"
                       [(ngModel)]="showMarkerRadio"
                       [value]="layer.label"
                       name="primary">
        </p-radioButton>

        <p-inputSwitch (onChange)="onChildSwitchChanged($event)"
                       *ngIf="displayControls"
                       [(ngModel)]="isSelected"
                       [disabled]="layer.isDisabled"
                       [style]="{'margin-left': '8px'}">
        </p-inputSwitch>

    </div>
</div>
<div *ngIf="layer.tools && displayControls"
     [ngClass]="{
                    'show': isToolsOpened && isLayerGroupOpened,
                    'hide': !isToolsOpened || !isLayerGroupOpened,
                    'sidebar-layer-margin': layer.isChild === true
                }"
     class="sidebar-layer-tools">

    <div *ngFor="let tool of layer.tools; trackBy: trackById">
        <i *ngIf="!disableTool[tool.name]"
           (click)="onToolClicked(tool.name)"
           class="{{tool.icon}}"
           pTooltip="{{tool.title}}"
           tooltipPosition="top">
        </i>
    </div>

</div>


