.sidebar-layer-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
}

.sidebar-layer-tools i {
    color: var(--text-color);
    margin: 4px;
}

.sidebar-layer-tools i:hover {
    color: var(--primary-color);
    text-shadow: 0 0 1px black;
}

.sidebar-layer-tools.hide {
    max-height: 0;
    visibility: hidden;
}

.sidebar-layer-tools.show {
    visibility: visible;
    max-height: 100%;
    padding: 8px 5px;
}

.sidebar-layer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-layer-label {
    flex-grow: 1;
}

.sidebar-layer-switch {
    display: flex;
    margin-top: 5px;
    flex-grow: 0;
}

.sidebar-layer-alert {
    font-weight: bold;
}

.sidebar-layer-alert a {
    color: var(--text-color);
    font-size: 20px;
}

.sidebar-layer-margin {
    margin-left: 15px;
    font-size: 80%;
}

.sidebar-layer-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.collapse.show {
    max-height: 100%;
    visibility: visible;
}

.collapse.hide {
    max-height: 0;
    visibility: hidden;
}

:host ::ng-deep .sidebar-layer-body {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 6px;
    background-color: #fff;
    transition: background-color 500ms ease-in-out;
}
