<div class="p-grid box">
    <p-card *ngFor="let alert of alertsDisplayed; trackBy: trackById"
            [style]="{borderRadius: '18px'}"
            class="box-card p-col-12 p-md-3"
            header="{{alert.label}}">

        <app-card-button (alertClick)="alertClick.emit($event)"
                         (areaClick)="areaClick.emit($event)"
                         [alert]="alert"
                         [labelArea]="getLabelArea(alert) | translate"
                         [labelNumCars]="getLabelNumCars() | translate"
                         [unitOfMeasurement]="getUnitOfMeasurement(alert)"
                         [valueArea]="getValueArea(alert)"
                         [valueNumCars]="getValueNumCars(alert)">
        </app-card-button>
    </p-card>
</div>
