<div class="p-grid p-nogutter">

  <app-sidebar class="p-col-10 p-md-2 no-padding p-justify-between sidebar"
              [ngClass]="{'hide-sidebar': displaySidebar === false}">
  </app-sidebar>

  <div [ngClass]="{
                    'p-col-2 p-md-10 no-padding': displaySidebar === true,
                    'p-col-12 no-padding': displaySidebar === false
                  }">

    <app-header class="p-col-12 header p-nogutter"
                (showHideSidebarClicked)="showHideSidebar($event)">
    </app-header>

    <main class="p-col-12 no-padding"><router-outlet></router-outlet></main>

    <p-toast position="bottom-right"></p-toast>

  </div>

</div>
