<div class="grid grid-nogutter">
    <app-sidebar [ngClass]="{'hide-sidebar': displaySidebar === false}"
                 class="col-10 md:col-4 lg:col-3 xl:col-2 no-padding justify-content-between sidebar">
    </app-sidebar>

    <div [ngClass]="{
                    'col-2 md:col-8 lg:col-9 xl:col-10 no-padding': displaySidebar === true,
                    'col-12 no-padding': displaySidebar === false
                  }">

        <app-header (showHideSidebarClicked)="showHideSidebar($event)"></app-header>

        <main class="col-12 no-padding" style="z-index: 1001">
            <router-outlet></router-outlet>
        </main>

        <p-toast position="bottom-right"></p-toast>

        <app-filter></app-filter>

        <app-about [displayAbout]="displayAbout"></app-about>

    </div>

</div>
