<div class="card">
  <div class="container-lg">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="p-field">
          <div class="card">
            <h2>Gerenciador de Camadas Avançado</h2>
            <p-toolbar class="p-mb-4">
              <p-dropdown
                (onChange)="onGroupChange($event)"
                [(ngModel)]="selectedGroup"
                [filter]="true"
                [options]="groups"
                [showClear]="true"
                class="p-mb-2"
                filterBy="label"
                optionLabel="name"
                optionValue="id"
                placeholder="Selecione um grupo"
              ></p-dropdown>
            </p-toolbar>
          </div>
        </div>
        <div>
          <app-layer-table
            [layers]="groupLayers"
            [columns]="columns"
          ></app-layer-table>
        </div>
      </div>
    </div>
    <p-footer>
      <p-button
        pRipple
        (click)="saveGroupEdition()"
        [disabled]="!edited"
        icon="pi pi-check"
        label="Salvar"
        styleClass="p-button-raised"
      ></p-button>
      <p-button
        pRipple
        (click)="cancelGroupEdition()"
        [disabled]="!edited"
        icon="pi pi-times"
        label="Cancelar"
        styleClass="
                  p-button-secondary
                  p-button
                  p-component
                  p-button-text-only
                  p-button-raised
            "
      ></p-button>
    </p-footer>
  </div>
</div>
<app-layers-advanced-edition
  [(layer)]="layer"
  [columns]="columns"
></app-layers-advanced-edition>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
