<div class="p-grid">
    <div class="p-col-12">
        <div class="p-field-checkbox">
            <p-checkbox
                    (onChange)="onChange($event)"
                    [(ngModel)]="specificSearchFilter.isChecked"
                    binary="true"
                    inputId="isChecked"
                    name="isChecked">
            </p-checkbox>
            <label>Busca específica</label>
        </div>
    </div>
    <div class="p-col-12" *ngIf="specificSearchFilter.isChecked">
        <div class="p-formgroup-inline">
            <div class="p-field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.CarCPF"
                        inputId="CAR"
                        name="CAR"
                        value="CAR">
                </p-radioButton>
                <label>CAR Estadual</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.CarCPF"
                        inputId="CAR_FEDERAL"
                        name="CAR"
                        value="CAR_FEDERAL">
                </p-radioButton>
                <label>CAR Federal</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton
                        (ngModelChange)="onChange($event)"
                        [(ngModel)]="specificSearchFilter.CarCPF"
                        inputId="CPF"
                        name="CPF"
                        value="CPF">
                </p-radioButton>
                <label>CPF Proprietário</label>
            </div>
        </div>

        <div class="p-field">
            <input (ngModelChange)="onChangeInput($event)"
                   [(ngModel)]="specificSearchFilter.inputValue"
                   [maxlength]="maxlength"
                   [name]="'specificValueInput'"
                   class="width-100"
                   id="inputValue"
                   pInputText
                   placeholder="Digite o valor"
                   type="text">
        </div>
    </div>
</div>
