<div class="p-grid p-justify-between">
    <div>
        <p-button (click)="onFilterClicked.emit($event)"
                  label="{{ 'primeng.apply' | translate}}"
                  styleClass="p-button-raised"

        >
        </p-button>

        <p-button (click)="onClearFilterClicked.emit($event)"
                  label="{{ 'removeFilters' | translate}}"
                  styleClass="p-button-secondary p-button p-component p-button-text-only p-button-raised"

        >
        </p-button>
    </div>
    <div>
        <p-button (click)="onCloseClicked.emit($event)"
                  label="{{ 'close' | translate}}"
                  styleClass="p-button-secondary
                        p-button p-component p-button-text-only p-button-raised"
        >
        </p-button>
    </div>
</div>
