.table {
    bottom: 0;
    top: 0;
}

.report-history-item {
    margin: 15px;
}

:host /deep/ .btn {
    background-color: #ffffff !important;
}

.btn:hover {
    background-color: #CBC5C7 !important;
}

.btn:active {
    background-color: #591111 !important;
}

.icon-margin {
    margin-left: 5px !important;
}

.marker-icon {
    color: #2C84CB;
    margin: 6px 3px;
}

.report-button {
    text-align: center;
    width: 200px;
    height: 70px;
}
