<br />

<p-table #attributesTable
        dataKey="registro_estadual"
        [(value)]="tableData"
        [(selection)]="selectedProperties"
        [paginator]="true"
        [rows]="selectedRowsPerPage"
        [scrollable]="true"
        [resizableColumns]="true"
        [scrollHeight]="tableHeight"
        [responsive]="true"
        [columns]="selectedColumns"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [exportFilename]="selectedLayerLabel"
        [rowTrackBy]="trackByFunction"
        [selectionMode]="tableReportActive?'multiple':null"
        responsive="true"
        rowExpandMode="single"
        (onLazyLoad)="onLazyLoad($event)"
        (onRowExpand)="onRowExpand($event)">

    <ng-template pTemplate="caption">
        <div class="p-grid p-nogutter">

            <div class="p-col-12 p-md-6 p-col-nogutter">

                <div class="text-left">

                    <p-multiSelect [options]="columns"
                                    [(ngModel)]="selectedColumns"
                                    optionLabel="header"
                                    selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}"
                                    defaultLabel="Selecione as colunas">
                    </p-multiSelect>

                    &nbsp;&nbsp;

                    <p-dropdown
                        [options]="rowsPerPage"
                        [(ngModel)]="selectedRowsPerPage"
                        (onChange)="onRowsPerPageChange($event)">
                    </p-dropdown>

                    &nbsp;&nbsp;

                    <p-dropdown #selectedLayersDropdown
                        *ngIf="!tableReportActive"
                        [(options)]="selectedLayers"
                        [(ngModel)]="selectedLayerValue"
                        [style]="{minWidth: '300px'}"
                        placeholder="Layers"
                        (onChange)="onSelectedLayerChange(selectedLayersDropdown)">
                    </p-dropdown>

                    &nbsp;&nbsp;

                    <p-dropdown #selectedFilter
                        *ngIf="tableReportActive"
                        [(options)]="filters"
                        [(ngModel)]="selectedFilterValue"
                        (onChange)="onFilterChange(selectedFilter)">
                    </p-dropdown>

                </div>
            </div>

            <div class="p-col-12 p-md-6 p-col-nogutter">

                <div class="text-right">

                    <button
                        pButton
                        type="button"
                        icon="fas fa-file-csv"
                        iconPos="left"
                        label="Exportar"
                        (click)="attributesTable.exportCSV({selectionOnly:selectedProperties?true:false})"
                        pTooltip="Exportar selecionados como CSV"
                        tooltipPosition="top">
                    </button>

                    <!-- &nbsp;&nbsp;

                    <button
                        *ngIf="tableReportActive"
                        pButton
                        type="button"
                        icon="fas fa-file-alt"
                        iconPos="left"
                        label="Gerar laudo"
                        (click)="onGenerateReportClick($event)"
                        pTooltip="Gerar laudo a partir dos imóveis selecionados"
                        tooltipPosition="top">
                    </button> -->

                    &nbsp;&nbsp;

                    <button
                        *ngIf="tableReportActive"
                        pButton
                        type="button"
                        icon="fas fa-map-marker-alt"
                        iconPos="left"
                        label="Visualizar no mapa"
                        (click)="onShowMapClicked()"
                        pTooltip="Visualizar selecionados no mapa"
                        tooltipPosition="top">
                    </button>

                </div>

            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="tableReportActive" style="width: 2.5em"></th>
            <th style="width: 2.5em"></th>
            <th *ngIf="tableReportActive"
                style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th pResizableColumn style="width: 8em"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body"
                let-rowData
                let-columns="columns"
                let-index="rowIndex"
                let-expanded="expanded">
        <tr [pSelectableRow]="rowData"
            [pReorderableRow]="index">
            <td *ngIf="tableReportActive"
                style="width: 2.5em">
                <a [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td style="width: 2.5em">
                <i class="fa fa-bars" pReorderableRowHandle></i>
            </td>
            <td *ngIf="tableReportActive"
                style="width:3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>
            <td style="width: 8em">
                <a *ngIf="tableReportActive"
                    routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                    pButton
                    icon="fas fa-file-alt"
                    pTooltip="Gerar laudo"
                    tooltipPosition="top">
                </a>
                &nbsp;
                <button pButton
                        icon="fas fa-map-marker-alt"
                        (click)="onShowMapClicked(rowData)"
                        pTooltip="Visualizar no mapa">
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 4">
                <div class="p-grid">
                    <div class="p-col">
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                        <a pButton
                            class="report-history-item"
                            icon="fas fa-file-alt"
                            routerLink="/finalReport/{{rowData['registro_estadual'].replace('/', '\\')}}"
                            label="00/00/0000 00:00:00"
                            pTooltip="Ver laudo"
                            tooltipPosition="top">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft" let-state>
        &nbsp;&nbsp;<strong>{{ state.totalRecords }} registros</strong>
    </ng-template>

    <button
        pButton
        type="button"
        icon="fas fa-file-alt"
        iconPos="left"
        label="Gerar relatório"
        (click)="onGenerateReportClick($event)"
        pTooltip="Gerar relatório"
        tooltipPosition="top">
    </button>

</p-table>
