<br />

<p-table #attributesTable
        dataKey="registro_estadual"
        [(value)]="tableData"
        [(selection)]="selectedProperties"
        [paginator]="true"
        [rows]="selectedRowsPerPage"
        [scrollable]="true"
        [resizableColumns]="true"
        [scrollHeight]="tableHeight"
        [responsive]="true"
        [columns]="selectedColumns"
        [reorderableColumns]="true"
        [resizableColumns]="true"
        [lazy]="true"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [exportFilename]="selectedLayerLabel"
        [rowTrackBy]="trackByFunction"
        [selectionMode]="tableReportActive?'multiple':null"
        responsive="true"
        rowExpandMode="single"
        (onLazyLoad)="onLazyLoad($event)"
        (onRowExpand)="onRowExpand($event)">

    <ng-template pTemplate="caption">
        <div class="p-grid p-nogutter">

            <div class="p-col-12 p-md-6 p-col-nogutter">

                <div class="text-left">

                    <p-multiSelect [options]="columns"
                                    [(ngModel)]="selectedColumns"
                                    optionLabel="header"
                                    selectedItemsLabel="{0} columns selected"
                                    [style]="{minWidth: '200px'}"
                                    defaultLabel="Selecione as colunas">
                    </p-multiSelect>

                    &nbsp;&nbsp;

                    <p-dropdown
                        [options]="rowsPerPage"
                        [(ngModel)]="selectedRowsPerPage"
                        (onChange)="onRowsPerPageChange($event)">
                    </p-dropdown>

                    &nbsp;&nbsp;

                    <p-dropdown #selectedLayersDropdown
                        *ngIf="!tableReportActive"
                        [(options)]="selectedLayers"
                        [(ngModel)]="selectedLayerValue"
                        [style]="{minWidth: '300px'}"
                        placeholder="Layers"
                        (onChange)="onSelectedLayerChange(selectedLayersDropdown)">
                    </p-dropdown>

                    &nbsp;&nbsp;

                    <p-dropdown #selectedFilter
                        *ngIf="tableReportActive"
                        [(options)]="filters"
                        [(ngModel)]="selectedFilterValue"
                        (onChange)="onFilterChange(selectedFilter)">
                    </p-dropdown>

                </div>
            </div>

            <div class="p-col-12 p-md-6 p-col-nogutter">

                <div class="text-right">

                    <button
                        pButton
                        type="button"
                        icon="fas fa-file-csv"
                        iconPos="left"
                        label="Exportar"
                        (click)="attributesTable.exportCSV({selectionOnly:selectedProperties?true:false})"
                        pTooltip="Exportar selecionados como CSV"
                        tooltipPosition="top">
                    </button>

                    <button
                        *ngIf="tableReportActive"
                        pButton
                        type="button"
                        icon="fas fa-map-marker-alt"
                        iconPos="left"
                        label="Visualizar no mapa"
                        (click)="onShowMapClicked()"
                        pTooltip="Visualizar selecionados no mapa"
                        tooltipPosition="top">
                    </button>

                </div>

            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="tableReportActive"
                style="width: 2.5em" ></th>
            <th style="width: 2.5em"></th>
            <th *ngIf="tableReportActive"
                style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th pResizableColumn></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body"
                let-rowData
                let-columns="columns"
                let-index="rowIndex"
                let-expanded="expanded">
        <tr [pSelectableRow]="rowData"
            [pReorderableRow]="index">
            <td *ngIf="tableReportActive"
                style="width: 2.5em">
                <a [pRowToggler]="rowData" >
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td style="width: 2.5em">
                <i class="fa fa-bars" pReorderableRowHandle></i>
            </td>
            <td *ngIf="tableReportActive"
                style="width:3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>
            <td style="display: flex;">
                <a *ngIf="tableReportActive"
                   style="width: 32px; height: 32px;"
                   routerLink="/finalReport/deter/{{rowData['registro_estadual'].replace('/', '\\')}}"
                   pButton
                   icon="fas fa-file-alt"
                   pTooltip="Visualisar relatório Deter"
                   tooltipPosition="top">
                </a>
                <a *ngIf="tableReportActive"
                   style="margin-left: 10px; width: 32px; height: 32px;"
                   routerLink="/finalReport/prodes/{{rowData['registro_estadual'].replace('/', '\\')}}"
                   pButton
                   icon="fas fa-file-alt"
                   pTooltip="Visualisar relatório Prodes"
                   tooltipPosition="top">
                </a>
                <a *ngIf="tableReportActive"
                   style="margin-left: 10px; width: 32px; height: 32px;"
                   routerLink="/finalReport/queimada/{{rowData['registro_estadual'].replace('/', '\\')}}"
                   pButton
                   pTooltip="Visualisar relatório Queimada"
                   tooltipPosition="top">
                    <img src="../../../../assets/img/ico/queima.ico" style="margin: 2px; width: 25px; height: 25px;"/>
                </a>
                &nbsp;
                <button pButton
                        style="margin-left: 5px; width: 32px; height: 32px;"
                        icon="fas fa-map-marker-alt"
                        (click)="onShowMapClicked(rowData)"
                        pTooltip="Visualizar no mapa">
                </button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 4">
                <div class="p-grid" *ngIf="reports.length > 0" >
                    <div  class="p-col p-grid" style="text-align: center; display: block;" *ngFor="let report of reports">
                        <div pButton
                            class="report-history-item p-col p-grid"
                            pTooltip="Baixar relatório"
                            [label]="report.name"
                            tooltipPosition="top"
                            style="text-align: center; display: block;"
                            (click)="getReport(report)">
                            <div class="p-col">{{report.createdAt | date:'dd/mm/yyyy   HH:mm:ss'}}</div>
                        </div>
                    </div>
                </div>
                <div class="p-grid" *ngIf="reports.length === 0"  style="text-align: center;">
                    <h4 class="p-col" style="text-align: center;">Não possui relatórios gerados!</h4>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft" let-state>
        &nbsp;&nbsp;<strong>{{ state.totalRecords }} registros</strong>
    </ng-template>

    <button
        pButton
        type="button"
        icon="fas fa-file-alt"
        iconPos="left"
        label="Gerar relatório"
        (click)="onGenerateReportClick($event)"
        pTooltip="Gerar relatório"
        tooltipPosition="top">
    </button>

</p-table>
