<p-table (onLazyLoad)="onLazyLoad($event)"
         [(selection)]="selectedProperties"
         [columns]="selectedColumns"
         [lazy]="true"
         [loading]="isLoading"
         [paginator]="true"
         [responsive]="true"
         [rowTrackBy]="trackById"
         [rows]="selectedRowsPerPage"
         [scrollHeight]="'50vh'"
         [totalRecords]="totalRecords"
         [value]="tableData"
         [autoLayout]="true"
         [responsiveLayout]="'stack'"
         [loadingIcon]="'fas fa-circle-notch color-black'">
    <ng-template pTemplate="caption">
        <div class="p-grid p-nogutter">

            <div class="p-col-12 p-md-6 p-col-nogutter">

                <div class="float-left">

                    <p-multiSelect [(ngModel)]="selectedColumns"
                                   [options]="columns"
                                   [style]="{minWidth: '200px'}"
                                   defaultLabel="{{ 'selectColumns' | translate}}"
                                   optionLabel="header"
                                   selectedItemsLabel="{0} columns selected">
                    </p-multiSelect>

                    &nbsp;&nbsp;

                    <p-dropdown
                            (onChange)="onRowsPerPageChange($event)"
                            [(ngModel)]="selectedRowsPerPage"
                            [options]="rowsPerPage"
                            [style]="{minWidth: '100px'}">
                    </p-dropdown>

                    &nbsp;&nbsp;

                    <p-dropdown #selectedLayersDropdown
                                (onChange)="onSelectedLayerChange(selectedLayersDropdown)"
                                [(ngModel)]="selectedLayerValue"
                                [options]="selectedLayers"
                                [style]="{minWidth: '200px'}"
                                optionLabel="name"
                                placeholder="Layers">
                    </p-dropdown>

                </div>
            </div>

        </div>
    </ng-template>

    <ng-template let-columns
                 pTemplate="header">
        <tr>
            <th *ngFor="let col of columns; trackBy: trackById" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template let-columns="columns"
                 let-rowData
                 pTemplate="body">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns; trackBy: trackById" pTooltip="{{ rowData[col.field] }}"
                style="overflow: hidden;word-break: break-all;" tooltipPosition="top">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    <ng-template let-state
                 pTemplate="paginatorright">
        <strong>{{state.totalRecords | number:'1.0-4':'pt' }} {{'registers' | translate}}</strong>
        &nbsp;
        <strong>{{selectedProperties ? selectedProperties?.length : '0' }} {{'selecteds' | translate}}</strong>
    </ng-template>

</p-table>
