.table {
  bottom: 0;
  top: 0;
}

.report-history-item {
  margin: 15px;
}

:host  /deep/ .btn {
  background-color: #ffffff !important;
}
.btn:hover {
  background-color: #CBC5C7 !important;
}
.btn:active {
  background-color: #591111 !important;
}
