.table {
    bottom: 0;
    top: 0;
}

:host ::ng-deep .btn {
    background-color: #ffffff !important;
}

.btn:hover {
    background-color: #CBC5C7 !important;
}

.btn:active {
    background-color: #591111 !important;
}

.icon-margin {
    margin: unset;
    margin-left: 5px !important;
}

.marker-icon {
    color: #2C84CB;
    margin: 10px 10px;
}

.report-button {
    text-align: center;
    width: 200px;
    height: 70px;
}

.synthesis-link {
    color: #591111;
    margin: 10px 10px;
}

.report-card {
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: #ccc 1px 2px;
    padding: 10px;
    border-radius: 5px;
}

.report-card p {
    font-weight: bold;
}

.report-card:hover {
    background-color: #eee;
    cursor: pointer;
    box-shadow: unset;
}
