.table {
    bottom: 0;
    top: 0;
}

.icon-margin {
    margin: unset;
    margin-left: 5px !important;
}

.synthesis-link {
    margin: 10px 8px;
}

.report-card {
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: #ccc 1px 2px;
    padding: 10px;
    border-radius: 5px;
}

.report-card p {
    font-weight: bold;
}

.report-card:hover {
    background-color: #eee;
    cursor: pointer;
    box-shadow: unset;
}
