@font-face  {
    font-family: "DejaVu Sans";
    src: url("../../../assets/fonts/DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("../../../assets/fonts/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src: url("../../../assets/fonts/DejaVuSansMono-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    font-weight: bold;
    src: url("../../../assets/fonts/DejaVuSans-BoldOblique.ttf") format("truetype");
}

.green {
    color: green;
}

.word-wrap {
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
}

p {
    text-indent: 20px;
    text-align: justify;
    line-height: 2;
}

h2 {
    margin: 15px 0;
}

.pdfViewer .page {
    direction: ltr;
    width: 100%;
    height: 100%;
    margin: 1px auto -8px;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    border-image: unset !important;
    background-color: #fff;
}

.toolbar {
    display: none;
    position: relative;
    left: 0;
    right: 0;
    z-index: 7;
    cursor: default;
}

.form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.loadingInProgress.body {
    height: 100%;
    width: 100%;
    background-color: #404040;
    background-image: none;
}

.btn-icon {
    background-color: #ffffff !important;
}

.btn-icon:hover {
    background-color: #CBC5C7 !important;
}

.btn-icon:active {
    background-color: #591111 !important;
}

.icon-margin {
    margin-left: 10px !important;
}

.final-report-loading {
    text-align: center;
    vertical-align: middle;
    margin-top: 35vh;
}

body .p-dialog .p-dialog-content {
    font-size: 18px;
}

.synthesis-icon {
    color: #591111;
    margin: 10px 8px;
}

.synthesis-link {
    font-size: 20px;
    color: #591111;
}

.report-buttons {
    display: flex;
}

.vector-button {
    display: flex;
    align-items: center;
    margin-left: 2px
}

.vector-button > label {
    margin-left: 2px
}
