<div *ngIf="checkAlertTypeValid()">
    <h3 class="form-margin">{{ 'alertType' | translate }}</h3>
    <div class="formgroup-inline">
        <div class="field-checkbox">
            <p-radioButton [(ngModel)]="alertType.radioValue"
                           [disabled]="disable"
                           (click)="onAllClicked()"
                           inputId="preopt1"
                           value="ALL">
            </p-radioButton>
            <label>{{ 'All' | translate }}</label>
        </div>
        <div class="field-checkbox">
            <p-radioButton [(ngModel)]="alertType.radioValue"
                           [disabled]="disable"
                           inputId="preopt2"
                           name="OCCURRENCE-AREA"
                           value="OCCURRENCE-AREA">
            </p-radioButton>
            <label> {{'Areas/Occurrences' | translate}}</label>
        </div>
    </div>

    <div *ngIf="checkAnalyzesValid()">
        <div *ngFor="let analyze of alertType.analyzes; trackBy: trackById">
            <h3 class="form-margin">{{analyze.label | translate}}</h3>
            <div class="grid">
                <div [ngClass]="{'col-6': isCustomSelected(analyze), 'col-12 form-padding': !isCustomSelected(analyze) }">
                    <p-dropdown
                            (onChange)="onChangeAnalyzeOption()"
                            [(ngModel)]="analyze.valueOption"
                            [autoDisplayFirst]="false"
                            [disabled]="false"
                            [name]="analyze.type"
                            [options]="analyze.options"
                            [showClear]="true"
                            filter="true"
                            optionLabel="label"
                            scrollHeight="100px"
                            styleClass="w-full">
                    </p-dropdown>
                </div>
                <div *ngIf="isCustomSelected(analyze)"
                     [ngClass]="{
                                    'col-6': isCustomSelected(analyze),
                                    'col-12 form-padding': !isCustomSelected(analyze)
                                }">
                    <input (ngModelChange)="onChange()"
                           *ngIf="isCustomSelected(analyze)"
                           [(ngModel)]="analyze.valueOptionBiggerThen"
                           [name]="'specificValueInput'"
                           class="w-full"
                           pInputText
                           placeholder="{{ 'Type the value' | translate}}"
                           type="text">
                </div>
            </div>
        </div>
    </div>
</div>
