<div class="grid grid-nogutter">

    <div class="col-12">

        <div *ngIf="isLoading" class="loading-login">
            <p-progressSpinner [style]="{width: '200px', height: '200px'}" animationDuration="1s"></p-progressSpinner>
        </div>

        <div *ngIf="!isLoading">
            <h2>{{'Login' | translate}}</h2>
            <hr>
            <br>
            <form #loginForm="ngForm" (ngSubmit)="onLoginClicked(loginForm)">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="fas fa-user"></i></span>
                    <input name="userName" ngModel pInputText placeholder="{{'User' | translate}}" size="30"
                           type="text"/>
                </div>

                <br>

                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="fas fa-key"></i></span>
                    <input name="password" ngModel pInputText placeholder="{{'password' | translate}}" size="30"
                           type="password"/>
                </div>

                <br/><br/>

                <p-button label="{{'Login' | translate}}"
                          styleClass="p-button-raised w-full"
                          type="submit">
                </p-button>

                <br/><br/>

                <p-button (click)="onCloseLoginClick()"
                          pRipple
                          label="{{'Close' | translate}}"
                          styleClass="p-button-secondary w-full p-button-raised">
                </p-button>
            </form>
        </div>

    </div>

</div>
