<div class="p-grid p-nogutter">

    <div class="p-col-12 p-col-nogutter">

        <div *ngIf="isLoading" class="loading-login">
            <p-progressSpinner [style]="{width: '200px', height: '200px'}"></p-progressSpinner>
        </div>

        <div *ngIf="!isLoading">
            <h2>Login</h2>
            <hr>
            <br>
            <form #loginForm="ngForm" (ngSubmit)="onLoginClicked(loginForm)">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-user"></i></span>
                    <input name="username" ngModel type="text" size="30" placeholder="Usuário" pInputText/>
                </div>

                <br>

                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fas fa-key"></i></span>
                    <input name="password" ngModel type="password" size="30" placeholder="Senha" pInputText/>
                </div>

                <br/><br/>

                <button pButton
                        type="submit"
                        label="Login"
                        class="ui-button-rounded ui-button-raised width-100">
                </button>

                <br/><br/>

                <button pButton
                        type="button"
                        label="Fechar"
                        class="ui-button-rounded ui-button-secondary width-100 ui-button-raised"
                        (click)="onCloseLoginClick()">
                </button>
            </form>
        </div>

    </div>

</div>
