.map {
  z-index: 1001;
}

:host ::ng-deep .leaflet-custom-icon-selected {
  background-color: #c0c0c0;
}

:host ::ng-deep .leaflet-custom-icon {
  padding: 8px 10px 7px 8px;
}

:host ::ng-deep .leaflet-custom-icon a {
  color: #000;
}

:host ::ng-deep .leaflet-custom-icon:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

:host ::ng-deep .leaflet-legend {
  font-size: 12px;
  padding: 8px 9px 7px 8px;
}

:host ::ng-deep .leaflet-info {
  font-size: 13px;
  padding: 6px 13px 6px 12px;
}

:host ::ng-deep .sidebar.hide-sidebar > * {
  display: none;
}

:host ::ng-deep .popup-container {
  overflow: auto;
  text-align: center;
}
