<div id="{{mapId}}" class="map" [ngStyle]="{height: height}"></div>

<p-sidebar [(visible)]="displayTable"
            position="bottom"
            [modal]="false"
            [dismissible]="false"
            [showCloseIcon]="true"
            [style]="{width:'inherit', left: 'unset', height: '48vh'}"
            (onShow)="onShowTable()"
            (onHide)="onHideTable()">

  <app-table [(selectedLayers)]="selectedLayers"></app-table>

</p-sidebar>

<app-visible-layers [(selectedLayers)]="selectedLayers"
                    [(displayVisibleLayers)]="displayVisibleLayers">
</app-visible-layers>

<app-legend [(selectedLayers)]="selectedLayers"
            [(displayLegend)]="displayLegend">
</app-legend>
