.map {
  z-index: 1001;
}

:host ::ng-deep .leaflet-custom-icon-selected {
  background-color: #c0c0c0;
}

:host ::ng-deep .leaflet-custom-icon {
  padding: 8px 10px 7px 8px;
}

:host ::ng-deep .leaflet-custom-icon a {
  color: #000;
}

:host ::ng-deep .leaflet-custom-icon:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

:host ::ng-deep .leaflet-legend {
  font-size: 12px;
  padding: 8px 9px 7px 8px;
}

:host ::ng-deep .leaflet-info {
  font-size: 13px;
  padding: 6px 13px 6px 12px;
}

:host ::ng-deep .sidebar.hide-sidebar > * {
  display: none;
}

:host ::ng-deep .popup-container {
  overflow: auto;
  text-align: center;
}

:host ::ng-deep .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

:host ::ng-deep .table {
  width: 100%;
  color: #212529;
}

:host ::ng-deep .table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

:host ::ng-deep .table th,
:host ::ng-deep .table td {
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
}

:host ::ng-deep .table thead th {
  border-bottom: 2px solid #dee2e6;
  color: #fff;
  background-color: #591111;
  border-color: #591111;
}

:host ::ng-deep .table tbody + tbody {
  border-top: 2px solid #dee2e6;
}