<div id="map" class="map" [ngStyle]="{height: 'calc(100vh - 50px)'}"></div>

<p-sidebar [(visible)]="displayTable"
            position="bottom"
            [modal]="false"
            [dismissible]="false"
            [showCloseIcon]="true"
            [style]="{width:'inherit', left: 'unset', height: sidebarTableHeight, 'text-align': 'center' }"
            (onShow)="onShowTable()"
            (onHide)="onHideTable()">
            <a class="ui-sidebar-close"
              (click)="expandShrinkTable()">
              <span [ngClass]="{
                                'pi-window-minimize': tableFullscreen,
                                'pi-window-maximize': !tableFullscreen
                              }"
                    class="pi"></span>
            </a>

  <app-table [(selectedLayers)]="selectedLayers"
              [(tableReportActive)]="tableReportActive"
              [tableHeight]="tableHeight">
  </app-table>

</p-sidebar>

<!-- <app-visible-layers [(selectedLayers)]="selectedLayers"
                    [(displayVisibleLayers)]="displayVisibleLayers">
</app-visible-layers> -->

<app-legend [(selectedLayers)]="selectedLayers"
            [(displayLegend)]="displayLegend">
</app-legend>