<p-dialog
        header="Legendas"
        [positionLeft]="410"
        [positionTop]="60"
        [(visible)]="displayLegend"
        (onHide)="onLegendHide()">

        <p-accordion [multiple]="true" [style]="{'min-width': '250px'}">
            <p-accordionTab
                *ngFor="let selectedLayer of selectedLayers; trackBy: trackById"
                selected="true"
                header="{{ selectedLayer.legend.title }}">
                <img src="{{ selectedLayer.legend.url }}" />
            </p-accordionTab>
        </p-accordion>

</p-dialog>
