<p-dialog
        (onHide)="onLegendHide()"
        [(visible)]="displayLegend"
        [style]="isMobile ? {bottom: '0' } : {top: '60px', left: '410px' }"
        [breakpoints]="{'1024px' : '100%'}"
        [position]="isMobile ? 'bottom' : 'top-left'"
        autoZIndex="false"
        baseZIndex="1001"
        header="{{'Legends' | translate}}">

    <p-accordion [multiple]="true" [style]="{'min-width': '250px'}">
        <p-accordionTab
                *ngFor="let selectedLayer of selectedLayers; trackBy: trackById"
                [selected]="true"
                header="{{selectedLayer.legend.title }}">
            <img src="{{selectedLayer.legend.url }}"/>
        </p-accordionTab>
    </p-accordion>

</p-dialog>
