.link-container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 2px;
}
.table-container {
    height: 450px;
    width: 500px;
    overflow: auto;
    text-align: center;
}
.link {
    font-size: 1.17em;
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #591111;
    border-radius: 5px;
}

:host /deep/ .btn {
    background-color: #ffffff !important;
}

.btn:hover {
    background-color: #CBC5C7 !important;
}

.btn:active {
    background-color: #591111 !important;
}

.icon-margin {
    margin-left: 5px !important;
}

.marker-icon {
    color: #2C84CB;
    margin: 6px 3px;
}

.report-button {
    text-align: center;
    width: 200px;
    height: 70px;
}

.synthesis-link {
    font-size: 20px;
    color: #591111;
}
