<div class="p-grid p-col-12" id="actions">
    <div *ngIf="!action">
        <p-button
                (click)="confBut.action()"
                *ngFor="let confBut of confButtons; trackBy: trackById"
                [disabled]="confBut.disable"
                [ngClass]="confBut.buttonClass">
            {{confBut.label}}
        </p-button>
    </div>
    <div *ngIf="action && action=='action'">
        <p-button
                (click)="confBut.action(rowData)"
                *ngFor="let confBut of confButtons; trackBy: trackById"
                [disabled]="confBut.disable"
                [ngClass]="confBut.buttonClass">
            <i [ngClass]="confBut.buttonClassIco"></i>
        </p-button>
    </div>
</div>
