<div id="actions" class="p-grid p-col-12" >
  <div  *ngIf="!action" >
    <button
            *ngFor="let confBut of confButtons; trackBy: trackById"
            type="button"
            [ngClass]="confBut.buttonClass"
            [disabled]="confBut.disable"
            (click)="confBut.action()">
      {{confBut.label}}
    </button>
  </div>
  <div *ngIf="action && action=='action'" >
    <button
      *ngFor="let confBut of confButtons; trackBy: trackById"
      type="button"
      [ngClass]="confBut.buttonClass"
      [disabled]="confBut.disable"
      (click)="confBut.action(rowData)">
      <i [ngClass]="confBut.buttonClassIco"></i>
    </button>
  </div>
</div>
