<p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 50px)' }">
    <div class="grid">
        <div class="col-12">
            <div class="field">
                <div class="container-lg">
                    <h2>Gerenciador de Camadas</h2>
                    <p-dropdown
                            (onChange)="onChangeOptionField($event)"
                            [(ngModel)]="selectedGroup"
                            [filter]="true"
                            [options]="groups"
                            [showClear]="true"
                            filterBy="label"
                            optionLabel="label"
                            placeholder="Selecione um grupo"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="field">
                <p-pickList
                        (onMoveAllToSource)="removeLayer($event.items)"
                        (onMoveAllToTarget)="appendLayer($event.items)"
                        (onMoveToSource)="removeLayer($event.items)"
                        (onMoveToTarget)="appendLayer($event.items)"
                        [responsive]="true"
                        [sourceStyle]="{ height: '500px' }"
                        [source]="availableLayers"
                        [targetStyle]="{ height: '500px' }"
                        [target]="selectedLayers"
                        dragdrop="true"
                        filterBy="name"
                        sourceFilterPlaceholder="Pesquisar por nome"
                        sourceHeader="Camadas disponíveis"
                        targetFilterPlaceholder="Pesquisar por nome"
                        targetHeader="Camadas selecionadas"
                >
                    <ng-template let-layer pTemplate="item">
                        <h3 class="p-mb-2">{{ layer.name }}</h3>
                    </ng-template>
                </p-pickList>
            </div>
            <div class="field flex container-lg">
                <ng-template [ngIf]="selectedGroup">
                    <div class="container inline">
                    </div>
                    <div>
                        <p-button class="container inline"
                                  pRipple
                                  (click)="save()"
                                  label="Salvar"
                                  [disabled]='!saveEdition'
                                  styleClass="p-button-raised p-button-success"
                        ></p-button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</p-scrollPanel>
