
    <div class="button_down">
        <button (click)="backClicked()"
            icon="pi pi-replay"
            label="Voltar"
            pButton
            type="button">
        </button>

        <p-dropdown class="space" style="width: 100px" [options]="groups" [(ngModel)]="selectedGroup" optionLabel="label" [filter]="true" filterBy="label"
                [showClear]="true" placeholder="Selecione um grupo" (onChange)="onChangeOptionField($event)">
        </p-dropdown>
        
    </div>
    <div class="down">
    <p-pickList [source]="availableLayers" [target]="selectedLayers" sourceHeader="Camadas disponíveis" targetHeader="Camadas selecionadas" dragdrop="true"
            [responsive]="true" [sourceStyle]="{'height':'100%'}" [targetStyle]="{'height':'100%'}" filterBy="name"
            sourceFilterPlaceholder="Pesquisar por nome" targetFilterPlaceholder="Pesquisar por nome">
            <ng-template let-layer pTemplate="item">
                <h3 class="p-mb-2">{{layer.name}}</h3>
            </ng-template>
        </p-pickList>
        <button pButton pRipple type="button" label="Salvar" class="p-button-raised p-button-success" style="float: right; margin-right: 70px; margin-top: 130px;"></button> 
    </div>

