<div class="sidebar-item-content"
    *ngIf="displayChild"
    [ngClass]="{'sidebar-item-margin': child.type === 'analysis' && !child.isPrimary}">
    <div class="sidebar-item-label"
        (click)="onChildClicked()">

      <a>{{ child.shortLabel }}</a>

    </div>

    <div class="sidebar-item-switch">

      <p-radioButton #radioBtn
                    *ngIf="child.isPrimary && displayControls"
                    [value]="child.label"
                    name="primary"
                    [(ngModel)]="primaryRadio"
                    binary="true"
                    checkboxIcon="pi pi-circle-on"
                    (onClick)="onChildRadioClicked()">
      </p-radioButton>

      &nbsp;

      <p-inputSwitch *ngIf="displayControls"
                    [(ngModel)]="parentSwitchChecked"
                    (onChange)="onChildSwitchChanged($event)">
      </p-inputSwitch>

    </div>
</div>

<div *ngIf="child.tools && displayControls"
    class="sidebar-item-tools"
    [ngClass]="{'show': isToolsOpened && isParentOpened, 'hide': !isToolsOpened || !isParentOpened}">

    <i *ngFor="let tool of child.tools"
      class="{{tool.icon}}"
      (click)="onToolClicked(tool.name)"
      pTooltip="{{tool.title}}"
      tooltipPosition="top">
    </i>

</div>
