.sidebar-item-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item-tools.hide {
    max-height: 0;
    visibility: hidden;
}

.sidebar-item-tools.show {
    visibility: visible;
    max-height: 100%;
    padding: 15px 10px;
}

.sidebar-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item-label {
    flex-grow: 1;
}

.sidebar-item-switch {
    flex-grow: 0;
}

.sidebar-item-margin {
    margin-left: 15px;
    font-size: 90%;
}