@font-face {
    font-family: "DejaVu Sans";
    src: url("../../../../assets/fonts/DejaVuSans.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-weight: bold;
    src: url("../../../../assets/fonts/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    src: url("../../../../assets/fonts/DejaVuSansMono-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "DejaVu Sans";
    font-style: italic;
    font-weight: bold;
    src: url("../../../../assets/fonts/DejaVuSans-BoldOblique.ttf") format("truetype");
}

.green {
    color: green;
}

.word-wrap {
    overflow-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
}

p {
    text-indent: 20px;
    text-align: justify;
    line-height: 2;
}

h2 {
    margin: 15px 0;
}

.toolbar {
    display: none;
    position: relative;
    left: 0;
    right: 0;
    z-index: 7;
    cursor: default;
}

.form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.loadingInProgress.body {
    height: 100%;
    width: 100%;
    background-color: #404040;
    background-image: none;
}

.btn-icon {
    background-color: #ffffff !important;
}

.btn-icon:hover {
    background-color: #CBC5C7 !important;
}

.btn-icon:active {
    background-color: #591111 !important;
}

.icon-margin {
    margin-left: 10px !important;
}

.final-report-loading {
    text-align: center;
    vertical-align: middle;
    margin-top: 35vh;
}

body .p-dialog .p-dialog-content {
    font-size: 18px;
}

.synthesis-icon {
    color: #591111;
    margin: 10px 8px;
}

.synthesis-link {
    font-size: 20px;
    color: #591111;
}

.report-buttons {
    display: flex;
}

.vector-button {
    display: flex;
    align-items: center;
    margin-left: 2px
}

.vector-button > label {
    margin-left: 2px
}

.p-overlaypanel {
    width: calc(100vw - 616px) !important;
    min-height: 350px !important;
    z-index: 1001 !important;
    transform-origin: center top !important;
    left: calc(100vw - (100vw - 308px * 1.5)) !important;
    --overlayArrowLeft: calc(100vw - (100vw - 560px)) !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
}
