.icon-margin {
    margin-left: 10px !important;
}

.report-loading {
    text-align: center;
    vertical-align: middle;
    margin-top: 35vh;
}

.synthesis-icon {
    margin: 10px 8px;
}

.synthesis-link {
    font-size: 20px;
}

.report-buttons {
    display: flex;
}

.vector-button {
    display: flex;
    align-items: center;
    margin-left: 2px
}

.vector-button > label {
    margin-left: 2px
}

.p-overlaypanel {
    width: calc(100vw - 616px) !important;
    min-height: 350px !important;
    z-index: 1001 !important;
    transform-origin: center top !important;
    left: calc(100vw - (100vw - 308px * 1.5)) !important;
    --overlayArrowLeft: calc(100vw - (100vw - 560px)) !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
}
