<p-dialog #filterDialog
        header="Filtro"
        [positionLeft]="375"
        [positionTop]="60"
        maximizable="true"
        [(visible)]="displayFilter"
        (onHide)="onDialogHide()"
        [styleClass]="'filter-dialog'">

    <br>

    <div class="p-grid p-nogutter">
        <form #filterForm="ngForm" (ngSubmit)="onFilterClicked()" class="width-100">
            <div class="p-col-12 p-col-nogutter">
                <span class="ui-float-label">
                    <p-dropdown
                        [options]="groups"
                        [(ngModel)]="selectedGroup"
                        [autoDisplayFirst]="false"
                        styleClass="width-100"
                        [name]="groupsField.name"
                        [autofocus]="true"
                        >
                    </p-dropdown>
                    <label for="float-input">{{groupsField.label}}</label>
                </span>
            </div>
            <br>
            <div class="p-col-12 p-col-nogutter">
                <span class="ui-float-label">
                    <p-calendar
                        [appendTo]="filterDialog"
                        [(ngModel)]="dateInput"
                        [numberOfMonths]="dateField.numberOfMonths"
                        [inline]="false"
                        [showButtonBar]="dateField.showButtonBar"
                        [selectionMode]="dateField.selectionMode"
                        [showTime]="dateField.showTime"
                        [dateFormat]="dateField.dateFormat"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [locale]="localizationField.locale"
                        styleClass="width-100"
                        inputStyleClass="width-100"
                        [name]="dateField.name"
                    >
                    </p-calendar>
                    <label for="float-input">{{dateField.label}}</label>
                </span>
            </div>

            <br>

            <div class="p-col-12 p-col-nogutter">
                <span class="ui-float-label">
                    <p-dropdown
                        styleClass="width-100"
                        [options]="localizations"
                        [(ngModel)]="selectedLocalization"
                        [autoDisplayFirst]="false"
                        [name]="localizationField.name"
                        >
                    </p-dropdown>
                    <label for="float-input">{{localizationField.label}}</label>
                </span>
            </div>

            <br>

            <div class="p-col-12 p-col-nogutter">
                <span class="ui-float-label">
                    <input type="text" pInputText pKeyFilter="num" class="width-100" [name]="areaField.name" [(ngModel)]="areaInput">
                    <label for="float-input">{{areaField.label}}</label>
                </span>
            </div>

            <br>

            <div class="p-col-12 p-col-nogutter">
                <button pButton type="submit" label="Filtrar" class="ui-button-rounded width-100"></button>
                <br><br>
                <button pButton type="button" label="Limpar filtro" class="ui-button-rounded width-100" (click)="onClearFilterClicked()"></button>
            </div>

            <div class="p-col-12">

                <div class="p-grid">

                    <div class="p-col-6 text-center">
                        <h3>Alertas</h3>
                        <label>0 <small>(un)</small></label>
                    </div>

                    <div class="p-col-6 text-center">
                        <h3>Área</h3>
                        <label>0 <small>(ha)</small></label>
                    </div>

                </div>

            </div>
        </form>

        <br />

    </div>

</p-dialog>
