*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

main {
  height: calc(100vh - 50px);
}

.leaflet-custom-icon-selected {
  background-color: #c0c0c0;
}

.leaflet-custom-icon {
  padding: 8px 10px 7px 8px;
}

.leaflet-custom-icon a {
  color: #000;
}

.leaflet-custom-icon:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.leaflet-legend {
  font-size: 12px;
  padding: 8px 9px 7px 8px;
}

.leaflet-info {
  font-size: 13px;
  padding: 6px 13px 6px 12px;
}

.sidebar.hide-sidebar > * {
  display: none;
}

.width-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.filter-dialog {
  width: 300px
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.sidebar-item-body {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #fff;
  transition: background-color 500ms ease-in-out
}

.sidebar-item-body:hover {
  background-color: #eee;
}

.sidebar-item-body.active {
  background-color: #591111;
  color: #fff;
}

.sidebar-item-body.active:hover {
  background-color: #591111;
  color: #fff;
}

.sidebar-item-body.active a,
.sidebar-item-body.active i {
  color: #fff;
}

.sidebar-item-body.active:hover a,
.sidebar-item-body.active:hover i {
  color: #eee;
}

.sidebar-item-body a,
.sidebar-item-body .sidebar-item-arrow {
  margin-left: 5px;
  color: #5f5f5f;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-item-body:hover a,
.sidebar-item-body:hover i {
  color: #591111;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-grab {
  cursor: grab !important;
}

.cursor-help {
  cursor: help !important;
}

.no-padding {
  padding: 0 !important;
}

.popup-container {
  overflow: auto;
  max-height: 250px;
  width: 300px;
  text-align: center;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  color: #212529;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
  color: #fff;
  background-color: #591111;
  border-color: #591111;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  background-color: #ccc;
  margin: 0;
}

@media print {
  .container * {
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
  }

  section {
    page-break-inside: avoid;
  }

  body .ui-card {
    border: 1px solid #eee !important;
  }

  @page {
    margin: 0.5cm !important;
  }
}