@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.width-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.color-black {
    color: #000;
}

.border {
    border: 1px solid #cecece;
}

.border-left-right {
    border-left: 2px solid rgba(89, 17, 17, 0.1);
    border-right: 2px solid rgba(89, 17, 17, 0.1);
}

.border-top-bottom {
    border-top: 2px solid rgba(89, 17, 17, 0.1);
    border-bottom: 2px solid rgba(89, 17, 17, 0.1);
}

.border-top {
    border-top: 2px solid rgba(89, 17, 17, 0.1);
    margin: unset;
}

.border-bottom {
    border-bottom: 2px solid rgba(89, 17, 17, 0.1);
}

.padding {
    padding: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab;
}

.cursor-help {
    cursor: help;
}

.no-padding {
    padding: 0;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    background-color: #ccc;
    margin: 0;
}

@media print {
    .container * {
        color: #000;
        text-shadow: none;
        box-shadow: none;
        filter: none;
        margin: 0.5cm
    }

    img, section {
        page-break-inside: avoid;
    }

    body .p-card {
        border: 1px solid #eee;
    }
}

img {
    page-break-inside: avoid;
}

.form-margin {
    margin: 5px 0;
}

.form-padding {
    padding: .1rem .5rem;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    color: #212529;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table th,
.table td {
    padding: 0.5rem;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    color: #fff;
    background-color: #591111;
    border-color: #591111;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.sidebar-layer-margin .p-inputswitch {
    width: 2.8em;
    height: 1.4em;
}

.sidebar-layer-margin .p-inputswitch .p-inputswitch-slider:before {
    background-color: #ffffff;
    height: .9em;
    width: .9em;
    left: 0.25em;
    bottom: 0.25em;
    margin-top: -0.5rem;
    border-radius: 50%;
    transition: 0.2s;
}

.leaflet-container .view-report-icon {
    color: #ffffff;
}

.view-report-icon {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    padding: 0;
}

.view-report-icon > img {
    margin: 2px;
    width: 25px;
    height: 25px;
}
body .p-scrollpanel-content {
    width: calc(100% + 25px);
}
.container {
    margin: 0 50px;
}
.container-lg {
    margin: 0 70px;
}