<p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 130px)'}">

    <app-sidebar-item class="sidebar-item"
                    *ngFor="let sidebarItem of sidebarItems"
                    [sidebarItem]="sidebarItem">
    </app-sidebar-item>

    <app-sidebar-layer-group class="sidebar-item"
                    *ngFor="let sidebarLayerGroup of sidebarLayerGroups"
                    [sidebarLayerGroup]="sidebarLayerGroup"
                    [sidebarLayers]="sidebarLayerGroup.children"
                    [ngClass]="{ 'hide-sidebar-item': !isMapShowing }">
    </app-sidebar-layer-group>

    <br>
</p-scrollPanel>
